.newsroomSection {   
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        column-gap: 25px;
        row-gap: 25px;

        max-height: 890px;
        padding: 12.5px 10px 12.5px 30px;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar {
            width: 20px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: #d2d2d2;
            border: 7.5px solid transparent;
            border-radius: 10px;
        }

        @include breakpointDown($bp-tablet-lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpointDown($bp-mobile-lg) {
            display: none;
        }

        &--item {
            grid-column: span 1;
            grid-row: span 1;
        }
    }

    &__swiper {
        display: none;

        @include breakpointDown($bp-mobile-lg) {
            display: flex;
        }
        .swiper-slide {
            padding-right: 25px;
            width: calc(100% + 4px) !important;
            max-width: 350px !important;
    
            a {
                width: 100%
            }
        }
    }
}