* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;

    @include breakpointDown(1100px) {
        scroll-padding-top: 36px;
    }

}

body {
    .container[data-brand="lepine"] {
        font-family: 'Jost', sans-serif;
        background: #fff;
    }

    &.mobileNoScroll {
        overflow: auto;
       @include breakpointDown(1100px) {
            overflow: hidden;
       }
    }
}

.sp {
    padding: 100px 0 100px 0;
    
    @include breakpointDown($bp-mobile-lg) {
        padding: 60px 0 60px 0;
    }
    
    @include breakpointDown($bp-mobile-md) {
        padding: 30px 0 30px 0;
    }

    &-top {
        padding-top: 100px;
    
        @include breakpointDown($bp-mobile-lg) {
            padding-top: 60px;
        }
        
        @include breakpointDown($bp-mobile-md) {
            padding-top: 30px;
        }
    }

    &-bottom {
        padding-bottom: 110px;
    
        @include breakpointDown($bp-mobile-lg) {
            padding-bottom: 60px;
        }
        
        @include breakpointDown($bp-mobile-md) {
            padding-bottom: 30px;
        }
    }
}

.noscroll {
    overflow-y: hidden;
}


.rt {
    white-space: pre-wrap;

    a {
        text-decoration: underline;
        font-weight: bold;
        color: #5E514D;
    }
}

.textWhite {
    color: $c-white;
}
.textGrey {
    color: $c-lepineDarkGrey1;
}
.textBrown {
    color: $c-lepineBrown;
}

.copyPadding {
    padding-bottom: 30px;

    @include breakpointDown($bp-mobile-lg) {
        padding-bottom: 45px;
    }
    
    @include breakpointDown($bp-mobile-md) {
        padding-bottom: 35px;
    }
}

.aboutSection {
    position: relative;

    .contentWrapper {
        position: relative;
        z-index: 2;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        &--desktop {
            display: block;
            height: 100%;
            width: 50%;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: right center;
            }
        }

        &--mobile {
            display: none;
            height: 100%;
            width: 100%;

            @include breakpointDown($bp-tablet-sm) {
                display: block;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: left center;
                border-radius: 10px;

            }
        }

    
    }

    &[section-theme="dark"] {
        background: #BAB6AF;

        .suites__copy p {
            color: $c-white;
        }
    }
    &[section-theme="leasing"] {
        background: #B2ACAA;

        .suites__copy p {
            color: $c-white;
        }
    }
}

footer {
    z-index: 2;
    position: relative;
}