// Breakpoints
$bp-desktop-lg: 2560px;
$bp-desktop-md: 1920px;
$bp-desktop-sm: 1680px;

$bp-tablet-lg: 1400px;
$bp-tablet-md: 1280px;
$bp-tablet-sm: 1024px;

$bp-mobile-lg: 900px;
$bp-mobile-md: 768px;
$bp-mobile-sm: 500px;
$bp-mobile-xs: 360px;

$border-transparent: 2px solid rgba(0, 0, 0, 0.1);

$c-lepineBrown: #5E514D;
$c-lepineBrownLight: #83716c;
$c-lepineLightGrey1: #F0EEEE;
$c-lepineLightGrey2: #E1E1E1;
$c-lepineLightGrey3: #B2ACAA;
$c-lepineDarkGrey1: #53575A;
$c-lepineDarkGrey2: #BAB6AF;
$c-lepineGold: #C6A992;

$c-herosRidgeRed: #C8102E;
$c-herosRidgeGrey: #53575A;
$c-herosRidgeGold: #B79257;

$c-black-1: #290916;
$c-black-2: #353535;

$c-white: #FFFFFF;

$f-futura: 'Futura LT Medium';
$f-openSans: 'Open Sans Regular';
$f-crimson: 'Crimson Semi Bold';
// $f-crimsonItalic: 'Crimson Italic';

$c-dark-brown: #433433;
$c-light-brown: #7C4D46;
$c-dark-beige: #C4AF9E;
$c-light-beige: #F4F1EE;
$c-gold: #C19B46;

$box-shadow: 0 5px 10px #70707060;
$box-shadow-white: 0 5px 10px #ffffff20;
$border-gold:  6px solid $c-lepineGold;
