.condensedNav {
    background: $c-white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navV3 {
    width: 100%;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    box-shadow: 0 2px 10px #20202030;

    &__property {
        height: 70px !important;

        .navV3__logo {
            img { height: 45px; width: 100%; object-fit: contain; object-position: center; }
        }

        a, span {
            color: #fff !important;
        }
        svg path {
            fill: #fff;
        }
    }

    .contentWrapper {
        @include breakpointDown($bp-mobile-sm) {
            padding: 0 10px;
        }
    }

    &__primary {
        background: $c-white;
        transition: background 0.1s ease-in-out;
        box-shadow: $box-shadow;
        @include navPadding();
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        position: relative;
        max-width: 2560px;
        margin: auto;

        &--wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            column-gap: 25px;
            text-transform: uppercase;
    
            max-width: 1524px;
            margin: auto;
    
        }


        &.none {
            @include breakpointUp($bp-tablet-sm) {
                opacity: 0;
                display: none;
    
            }
        }

        @include breakpointDown($bp-tablet-sm) {
            height: 50px;
        }
    }

    &__secondary {
        display: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;

        max-width: 2560px;
        margin: auto;

        opacity: 0;
        transition: all 0.1s;

        box-shadow: $box-shadow;

        @include breakpointUp($bp-tablet-sm) {
            @include navPadding();
            display: none;
            align-items: unset;
        }


        &.active {
            display: flex;
            z-index: 8;
            opacity: 1;
            transition: all 0.1s;

            @include breakpointUp($bp-tablet-sm) {
                animation: 0.1s ease-in-out navFadeDown;
            }

            @include breakpointDown($bp-tablet-sm) {
                height: calc(100vh - 50px);
                animation: 0.1s ease-in-out navFadeRight;
            }
        }

        &.fadeUp {
            animation: 0.1s ease-in-out navFadeUp;
        
        }
    }
    &__contact {
        display: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background: $c-lepineBrownLight;
        color: $c-white;
        position: relative;
        z-index: 1;

        max-width: 2560px;
        margin: auto;

        opacity: 0;
        transition: all 0.1s;

        box-shadow: $box-shadow;

        z-index: 1;

        position: relative;

        &--close {
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 2;
            height: 25px;
            width: 25px;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }

        &.active {
            display: flex;
            opacity: 1;
            transition: all 0.1s;

            @include breakpointUp($bp-tablet-sm) {
                animation: 0.1s ease-in-out navFadeDown;
            }

            @include breakpointDown($bp-tablet-sm) {
                height: calc(100vh - 50px);
                animation: 0.1s ease-in-out navFadeRight;
            }
        }

        @include breakpointUp($bp-tablet-sm) {
            @include navPadding();
            align-items: unset;
        }

        &.fadeUp {
            animation: 0.1s ease-in-out navFadeUp;
        }
    }

    &__tertiary {
        display: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background: #8C857B;
        height: 85px;
        position: relative;
        @include navPadding();

        opacity: 0;
        transition: all 0.1s;

        max-width: 2560px;
        margin: auto;

        box-shadow: $box-shadow;

        &.active {
            animation: 0.1s ease-in-out navFadeDown;
            display: flex;
            opacity: 1;
            z-index: 6;
            transition: all 0.1s;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }

        &.fadeUp {
            animation: 0.1s ease-in-out navFadeUp;
        }
    }

    &__locations {        
        &[data-nav='desktop'] {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 50px;
            height: 100%;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }
        
        &[data-nav='mobile'] {
            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            @include breakpointDown($bp-tablet-sm) {
                display: flex;
            }
        }
    }

    &__portal {
        cursor: pointer;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px !important;
            letter-spacing: 2px;
            text-align: center;
            line-height: 20px;
            text-transform: uppercase;
            color: #53575a50;    
        }

        &:hover {
            span {
                color: #53575a;
                opacity: 0.75;
                transition: all 0.1s;
            }
        }

        @include breakpointDown($bp-tablet-lg) {
            display: none;
        }
    }

    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            height: 45px;
            width: auto;

            @include breakpointDown($bp-tablet-md) {
                height: 36px;
            }
        }
    }

    &__toggle {
        display: none;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;

        @include breakpointDown($bp-tablet-sm) {
            display: flex;
        }
    }

    &__content {
        &[data-nav='desktop'] {
            height: 100%;
            flex: 1;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            max-width: max-content;
            
            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }

        &[data-nav='mobile'] {
            height: 100%;
            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            background: $c-white;
            width: 100%;
            
            @include breakpointDown($bp-tablet-sm) {
                display: flex;
            }
        }
    }

    &__externalLinks {
        display: none;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 25px;
        position: relative;
        z-index: 2;

        &[data-nav="desktop"] {
            display: flex;
            justify-content: center;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }

            &.logo {
                background: $c-white;
                height: 50px;
            }
        }

        &[data-nav="mobile"] {
            display: none;
            justify-content: center;
            align-items: center;
            flex: 1 0 100%;
            height: 65px;
            @include navPadding();

            @include breakpointDown($bp-tablet-sm) {
                display: flex;
                background: #F2F2F1;
            }
        }

        .btn {
            @include breakpointDown($bp-mobile-md) {
                display: none;
            }
        }
    }

    &__phone {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        text-transform: uppercase;
        
        &--icon {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--copy {
            color: #5e514d;
            display: flex;
            flex-flow: column nowrap;
            font-weight: bold;
        }

        @include breakpointDown($bp-tablet-md) {
            display: none;
        }
    }
    
    &__item {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #53575a;
        opacity: 0.75;
        transition: all 0.1s;
        cursor: pointer;

        
            &--lifesPlay {
                @include breakpointDown($bp-mobile-sm) {
                    display: none;
                }
            }

            span, a {
                transition: all 0.1s;
                border-top: 2.5px solid transparent;
                border-bottom: 2.5px solid transparent;
            }

            &:hover {
                span, a {
                    border-bottom: 2.5px solid #53575a;    
                }
            }

            &.active {
                opacity: 1;

                span, a {
                    border-bottom: 2.5px solid #53575a;    
                }
            }

        &[data-nav="mobile"] {
            height: 60px;
            flex: unset;
            width: 100%;
            text-transform: uppercase;

            &:hover {
                background: #f2f2f1;
                color: #53575a;
                opacity: 1;
            }

            a {
                text-transform: uppercase;

            }
        }

        &:hover {
            color: #53575a;
            transition: all 0.1s;

        }

        &.active {
            color: #53575a;
            transition: all 0.1s;
            opacity: 1;
     
        }


        &--properties {
            display: none;
            flex-flow: column nowrap;
            width: 100%;
            height: 0%;
            transition: all 0.1s;
        }

        &[data-item="location"] {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            position: relative;

            span {
                width: max-content;
            }

            a {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include breakpointDown($bp-tablet-sm) {
                height: 50px;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
                width: 100%;
                flex: unset;

                &.active {
                    span {
                        height: 50px;
                    }
                    height: unset;
                }
            }

            &.active {
                .navV3__item--properties {
                    display: block;
                    transition: all 0.1s ease-in-out;
                    height: 100%;

                }
            }


            a {
                width: max-content;
            }
            
            span {
                color: $c-white;
                opacity: 0.5;
                transition: all 0.1s;
                text-transform: unset;
            }
    
            &.active {
                span {
                    opacity: 1;
                    transition: all 0.1s;

                    &::after {
                        @include breakpointUp($bp-tablet-sm) {
                            content: '';
                            width: 100%;
                            height: 6px;
                            background: $c-white;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 2;
                            opacity: 1;
                        }
                    }
                }

                @include breakpointDown($bp-tablet-sm) {
                    background: #ffffff50;
                }

            }

            &:hover {
                @include breakpointDown($bp-tablet-sm) {
                    background: #ffffff50;
                    opacity: 0.75;
                }

                span {
                    opacity: 1;
                    transition: all 0.1s;

                    &::after {
                        @include breakpointUp($bp-tablet-sm) {
                            content: '';
                            width: 100%;
                            height: 6px;
                            background: $c-white;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 2;
                        }
                    }
                }
            }
        }

        &[data-item="property"] {
            height: 50px;
            background: #8C857B;
            color: $c-white;
            width: 100%;

            a {
                height: 60%;
                background: #8C857B;
                color: $c-white;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
    
            }

            span {
                color: $c-white;
            }
        }
    }

    .navV3__logo {
        &--desktop {
            display: block;
            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            
            @include breakpointDown($bp-tablet-sm) {
                display: block;
            }
        }
    }

    &.top {
        box-shadow: none;

        @include breakpointUp($bp-tablet-sm) {
            .navV3__primary {
                background: linear-gradient(180deg, #00000075 0%, #00000050 45%, transparent 95%);
                box-shadow: none;
            }

            .navV3__externalLinks {
                @include breakpointUp($bp-tablet-sm) {
                    .btn {
                        background: $c-white;
                        color: #5E514D;
                        border-color: $c-white;

                        &:hover {
                            background: transparent;
                            color: $c-white;
                        }
                    }
                }
            }

            .navV3__phone--icon {
                height: 30px;
                width: 30px;
                
                path {
                    fill: #5E514D;
                }

                circle {
                    fill: #fff;
                }
            }
    
            .navV3__item {
                color: $c-white;
                opacity: 1;

                &:hover {
                    span, a { border-bottom: 2.5px solid $c-white }
                }

                &.active {
                    opacity: 1;
    
                    span, a {
                        border-bottom: 2.5px solid #fff;    
                    }
                }

            }
    
            .navV3__phone--copy {
                @include breakpointUp($bp-tablet-sm) {
                    color: $c-white;
                }
            }
    
            .navV3__portal span {
                @include breakpointUp($bp-tablet-sm) {
                    color: $c-white;
                }
            }
        }
    }
}