$pa-gold: #cda656;
$pa-goldt: rgba(205, 166, 86, 0.8);
$pa-dark: #404040;
$pa-darkt: rgba(64, 64, 64, 0.80);

@keyframes navSticky {
    0% {
        position: fixed;
        top: -4rem;
        left: 0;
    } 80% {
        position: fixed;
        top: 0;
        left: 0;
    }
}

@keyframes contactPopupActive {
    0% {
        position: fixed;
        top: 200%;
        left: 0;
    } 80% {
        position: fixed;
        top: 0;
        left: 0;
    }
}

@keyframes swiperFade {
    0% {
        opacity: 0;
    } 80% {
        opacity: 1;
    }
}

.container[data-brand="premierappliances"] {
    font-family: "Avenir", sans-serif;
    margin: auto;

    section {
        border-bottom: 0.25rem solid $pa-gold;
        box-sizing: border-box;
    }

    .text-gold {
        color: $pa-gold;
    }

    .text-bold {
        font-weight: 700; 
    }

    .text-upper {
        text-transform: uppercase;
    }

    h1, h2, h3 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 400;
    }

    .packagesSwiper__pagination,
    .vendorsSwiper__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }

    .swiper-pagination-bullet-active {
        background: $pa-gold;
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 50px;
        width: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: $pa-gold;

        border-radius: 50px;

        transition: all 0.25s ease-in-out;

        &::after {
            color: $c-white;
            font-size: 25px;
        }

        &:hover {
            transform: translateY(-1px);
            transition: all 0.25s ease-in-out;
        }

        &:active {
            transform: translateY(1px);
            transition: all 0.25s ease-in-out;
        }
    }

    .swiper-slide {
        user-select: none;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}

.premierappliances__jobBanner {
    background: $pa-gold;
    color: $c-white;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0.25rem 1rem $pa-darkt;

    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    padding: 1rem;

    @include breakpointUp($bp-tablet-sm) {
        position: fixed;
        height: 4rem;
    }
}

.premierappliances__jobBanner--copy {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pa-grid {
    display: grid;
    grid-template-columns: 3rem repeat(10, 1fr) 3rem;
    grid-template-rows: 3rem repeat(10, 1fr) 3rem;

    @include breakpointUp(2560px) {
        height: 1080px;
        max-height: max-content;
    }

    @include breakpointDown($bp-tablet-sm) {
        grid-template-columns: 1rem repeat(10, 1fr) 1rem;
        grid-template-rows: 1rem repeat(10, 1fr) 1rem;
        min-height: 80vh;
        height: auto;
    }
}

section.pa-grid {
    min-height: 100vh;
    width: 100vw;
    max-width: 2560px;
}

.premierappliances__divider {
    background: $pa-gold;
    width: 25%;
    height: 0.25rem;
}

.premierappliances__swiper {
    padding: 2rem 0 2rem 0;
}

.premierappliances__content {
    max-width: 1366px;
    margin: auto;
}

.premierappliances__vendor {
    height: 150px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 75%;
        width: 75%;
        object-fit: contain;
        object-position: center;
    }
}

.premierappliances__contentBlock {
    background: $pa-darkt;
    padding: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;

    row-gap: 1rem;

    @include breakpointDown($bp-tablet-sm) {
        padding: 2rem;
    }

    ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        row-gap: 1rem;
    
        text-align: start;

        li {
            padding-right: 0;
            list-style-position: inside;
        }
    }
}

.premierappliances__contentWrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    row-gap: 0.5rem;
}


.premierappliances__nav {
    background: $pa-dark;
    color: $c-white;

    background: $pa-dark;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    height: 4rem;

    transition: all 0.25 ease-in-out;

    box-shadow: 0 0.25rem 1rem $pa-darkt;

    @include breakpointDown($bp-tablet-sm) {
        flex-flow: column nowrap;
        height: auto;
    }

    @include breakpointDown($bp-tablet-sm) {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        z-index: 10;
    }

    &--close, &--open {
        height: 2rem !important;
        width: 2rem !important;
    }

    &Sticky--logo {
        @include breakpointDown($bp-tablet-sm) {
            display: none !important;
        }
    }

    &--content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        @include breakpointDown($bp-tablet-sm) {
            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            &.active {
                display: flex;
            }
        }
    }

    &--logo {
        display: none;
        padding: 0.5rem 1rem;
        cursor: pointer;

        @include breakpointDown($bp-tablet-sm) {
            width: 100%;
            background: $pa-gold;

            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 4rem;
        }

        img {
            height: 100%;
            width: auto;
            object-position: center;
            object-fit: contain;
        }
    }

    &.sticky {
        @include breakpointUp($bp-tablet-sm) {
            position: fixed;
            top: 0;
            left: 0;
    
            width: 100%;
            z-index: 9;
    
            animation: navSticky 0.5s ease-in-out;
            transition: all 0.25 ease-in-out;
        }
    }

    &--item {
        flex: 1;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        background: $pa-dark;
        color: $c-white;

        transition: all 0.25s ease-in-out;

        border-bottom: 0.25rem solid transparent;

        &.active {
            background: $pa-gold;
            border-bottom: 0.25rem solid $pa-gold;
        }

        &:hover {
            transition: all 0.25s ease-in-out;
            border-bottom: 0.25rem solid $pa-gold;
        }

        @include breakpointDown($bp-tablet-sm) {
            flex: unset;
            padding: 1rem;
            width: 100%;
        }
    }
}


.premierappliances__hero {
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-bottom: none !important;

    @include breakpointUp($bp-tablet-sm) {
        min-height: calc(100vh - 4rem) !important;
    }

    &--logo {
        background: $pa-darkt;
        grid-column: 7 / 13;
        grid-row: 4 / 9;

        display: flex;
        justify-content: center;
        align-items: center;

        color: $c-white;

        img {
            height: auto;
            width: auto;
            max-height: 200px;
            object-position: center;
            object-fit: contain;
        }

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 1 / 13;
            grid-row: 2 / 8;
        }
    }

    &--copy {
        h1 {
            margin: 0;
            color: $c-white;
            text-shadow: 1px 2px 5px #202020;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        grid-column: 1 / 13;
        grid-row: 9 / 13;

        @include breakpointDown($bp-tablet-sm) {
            background: $pa-darkt;
            backdrop-filter: blur(5px);
            --webkit-backdrop-filter: blur(5px);        

            grid-row: 8 / 13;
        }
    }
}

.premierappliances__about {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: $c-white;

    .premierappliances__contentBlock {
        grid-column: 8 / 12;
        grid-row: 1 / 10;

        @include breakpointDown($bp-tablet-lg) {
            grid-column: 7 / 12;
        }

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 6 / 12;
            grid-row: 1 / 9;
        }

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 3 / 11;
            grid-row: 3 / 11;
        }
    }
}

.premierappliances__packages,
.premierappliances__vendors {
    .pa-grid {
        padding: 2rem 0 0 0;
        height: auto;
        min-height: unset;
        grid-template-rows: unset;
    }

    .premierappliances__swiper {
        grid-column: 2 / 12;
        grid-row: 3 / 13;
    }
    
    &--content {
        grid-column: 2 / 12;
        grid-row: 1 / 2;
    }
}

.premierappliances__packages {
    .pa-grid {
        row-gap: 1rem;
    }

    .premierappliances__swiper {
        display: none;

        animation: swiperFade 0.5s ease-in-out;
        transition: all 0.25s ease-in-out;

        &.active {
            display: block;

            animation: swiperFade 0.5s ease-in-out;
            transition: all 0.25s ease-in-out;    
        }
    }

    &--btn {
        font-family: "Avenir", sans-serif;
        font-weight: 500;
        text-transform: uppercase;

        background: $pa-dark;
        color: $c-white;

        padding: 1rem;
        border-radius: 0.25rem;

        width: 100%;

        transition: 0.25s all ease-in-out;

        &:hover {
            cursor: pointer;
            background: darken($pa-dark, 5%);
            transition: 0.25s all ease-in-out;
        }

        &.active {
            background: $pa-gold;
        }
    }

    &--btns {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;

        column-gap: 0.5rem;
        row-gap: 1rem;

        grid-column: 2 / 12;
        grid-row: 2 / 3;

        &Wrapper {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            column-gap: 0.5rem;
            row-gap: 0.5rem;
            flex: 1 1 350px;
        }
    }
}

.premierappliances__vendorpackages {
    display: grid;
    grid-template-columns: 3rem auto 3rem;
    grid-template-rows: 3rem auto auto auto 3rem;

    row-gap: 1rem;

    @include breakpointUp(2560px) {
        height: 1080px;
        max-height: max-content;
    }

    @include breakpointDown($bp-tablet-sm) {
        grid-template-columns: 1rem auto 1rem;
        grid-template-rows: 1rem auto auto 1rem;
        // min-height: 80vh;
        // height: auto;
    }

    // position: relative;

    &--header {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &--vendors {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    &--content {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}


.premierappliances__vendorpackage {
    grid-column: 1 / 4;
    padding: 3rem 0;

    display: flex;
    flex-flow: column nowrap;

    row-gap: 1rem;


    &--header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        row-gap: 0.5rem;

        grid-column: 2 / 3;
        grid-row: 2 / 3;
        
        padding: 0 0 0 3rem;
    }


    img {
        height: auto;
        width: 200px;
        object-fit: contain;
        object-position: center;
    }


    &--item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        row-gap: 0.5rem;
        text-align: center;

        width: 300px;

        img {
            height: 200px;
            width: 200px;
            object-fit: contain;
            object-position: center;
        }
    }
}

.premierappliances__package {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    row-gap: 1rem;
    column-gap: 1rem;

    width: 400px;
    height: 455px;

    &--btn {
        color: $pa-gold;
        border: 0.125rem solid $pa-gold;
        border-radius: 0.25rem;
        padding: 0.5rem;
        margin-top: auto;
        transition: all 0.25s ease-in-out;

        &:hover {
            background: $pa-gold;
            color: $c-white;
            font-weight: bold;
            transition: all 0.25s ease-in-out;
        }
    }

    &--image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 300px;
            width: 300px;
            object-position: center;
            object-fit: contain;
        }
    }

    &--description {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
        column-gap: 0.5rem;

        padding: 0 2rem;
        text-align: center;

        height: 100%;

    }
}

.premierappliances__howitworks {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: $c-white;

    .premierappliances__contentBlock {
        grid-column: 1 / 7;
        grid-row: 3 / 10;

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 3 / 11;
            grid-row: 3 / 11;
        }
    }
}

.premierappliances__flexibility {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: $c-white;

    .premierappliances__contentBlock {
        grid-column: 4 / 10;
        grid-row: 1 / 8;

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 3 / 11;
            grid-row: 4 / 10;
        }
    }
}

.premierappliances__whiteglove {
    text-align: center;
    min-height: unset !important;

    .premierappliances__contentWrapper {
        // flex: 1 1 100%;
        max-width: 1000px;

        &[data-block="header"] {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            row-gap: 2rem;

            // flex: 1 0 100%;
        }

        &[data-block="servicehours"] {
            // flex: 1 0 100%;

            p {
                max-width: 1000px;
            }
        }
    }

    .premierappliances__contentBlock {
        background-color: transparent;

        grid-column: 2 / 12;
        grid-row: 2 / 12;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 3rem;
        row-gap: 3rem;
        
        @include breakpointDown($bp-tablet-sm) {
            grid-column: 2 / 12;
            grid-row: 2 / 12;

            column-gap: 2rem;
        }
    }
}

.premierappliances__contact {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: $c-white;

    &--info {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 0.25rem;
    }

    &--form {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 0.5rem;
        width: 100%;
        
        p {
            text-align: start;
        }

        input {
            padding: 0.5rem;
            height: 3rem;
            color: $pa-dark;
            width: 100%;
         }

         textarea {
            color: $pa-dark;
            padding: 0.5rem !important;
            resize: none;
         }
    }

    &--submit {
        background: $pa-gold;
        padding: 1rem;

        font-family: "Avenir", sans-serif;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            background: darken($pa-gold, 5%);
            transition: 0.25s all ease-in-out;
        }
    }

    .premierappliances__contentBlock {
        grid-column: 4 / 10;
        grid-row: 3 / 11;

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 1 / 13;
            grid-row: 1 / 13;
        }
    }
}

.premierappliances__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;

    border-radius: 50%;

    font-size: 2rem;
    line-height: 0;

    cursor: pointer;
    user-select: none;

    &:active {
        transform: translateY(1px);
        transition: all 0.25s ease-in-out;
    }
}

.premierappliances__close {
    background: $pa-dark;
    color: $c-white;
}

.premierappliances__open {
    background: $pa-gold;

    position: fixed;
    z-index: 50;
    bottom: 0.5rem;
    right: 1rem;
}

.premierappliances__contactpopup {
    display: none;

    .premierappliances__contentBlock {
        width: 100vw;
        max-width: 665px;
        color: $c-white;
    }

    &--close {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 100;
    }

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;

        background: $pa-goldt;
        display: grid;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        z-index: 99;

        overflow-y: scroll;

        animation: contactPopupActive 0.5s ease-in-out;
    }
}

.premierappliances__footer {
    background: $pa-dark;
    color: $c-white;
    height: 5rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: auto;

    &--content {
        grid-column: 2 / 12;

        display: flex;
        justify-content: center;
        align-items: center;
    

        img {
            height: 50px;
            width: auto;
            object-fit: contain;
            object-position: center;
        }
    }
}