.footer {
    background: #5E514D;
    color: $c-white;
    padding: 35px 0;
    
    @include breakpointDown($bp-tablet-md) {
        padding: 0;
    }


    &__logo {
        img {height: 55px;}
    }

    &__popup {
        font-family: 'Jost', sans-serif;
        
        padding: 25px;
        height: 100%;
        width: 100%;
        min-width: 500px;
        max-width: 90vw;
        max-height: 90vh;
        overflow-y: scroll;

        background: $c-white;
        border-radius: 10px;
        box-shadow: $box-shadow;
        
        text-align: center;

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar {
            width: 20px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: #d2d2d2;
            border: 7.5px solid transparent;
            border-radius: 10px;
        }

        @include breakpointDown($bp-mobile-lg) {
            min-width: unset;
        }

        &--close {
            cursor: pointer;
        }

        &--video {
            overflow: hidden;
            padding: 0;
            background: transparent;
            height: 505px;
            width: 853px;
            
            @include breakpointDown($bp-mobile-lg) {
                height: 350px;
            }
            @include breakpointDown($bp-mobile-md) {
                height: 250px;
            }

            iframe {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }

        h3 {
            margin-bottom: 10px;
        }
        h2, p {
            margin-bottom: 25px;
        }

        p {
            a {
                display: block;
                margin: 25px auto 0 auto;
                width: max-content;
                @include btnDefault();
                transition: background 0.2s;
        }
    }

        &--close {
            position: absolute;
            height: 35px;
            width: 35px;
            top: 35px;
            right: 35px;
        }

        &--container {
            display: flex;
            flex-flow: column nowrap;
            column-gap: 10px;
            row-gap: 10px;
        }
    }

    &__external {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 15px;
    }

    &__socials {
        &--container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            row-gap: 10px;    
            column-gap: 25px;    
        }

        &--icon {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 10px;        
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 35px;
        text-align: center;

        @include breakpointDown($bp-tablet-md) {
            flex-flow: column nowrap;
            padding: 50px 0;
        }
    }

    

    &__utility {
        display: flex;
        flex-flow: column nowrap;
        column-gap: 10px;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        flex: 1;

        p {
            text-align: center;
        }

        span {
            cursor: pointer;
        }

        @include breakpointDown($bp-mobile-lg) {
            flex-flow: column nowrap;
        }
    }
}