.propertyGallery {
    padding: 10px;
    margin: 10px 0 10px 0;

    &[data-gallery="v2"] {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        // grid-auto-rows: 200px;
        column-gap: 10px;
        row-gap: 10px;
        height: 600px;

        .propertyGallery__current {
            grid-column: 1 / 9;
            grid-row: 1 / 3;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: cover;
            }
        }

        .propertyGallery__content {
            grid-column: 9 / 13;
            grid-row: 1 / 3;
            overflow-y: scroll;

            display: grid;
            grid-template-columns: repeat(4, minmax(100px, 150px));
            grid-auto-rows: minmax(100px, 150px);
            column-gap: 10px;
            row-gap: 10px;
        }

        .propertyGallery__item {
            grid-column: span 1;
            grid-row: span 1;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
    }

    &:first-child {
        margin-left: 10px;
    }

    @include breakpointUp($bp-tablet-sm) {
        &[data-items="3"] {
            .swiper-wrapper {  grid-template-columns: repeat(3, calc(33.33333% + 10px)); }
         }
     
         &[data-items="4"] {
             .swiper-wrapper { grid-template-columns: repeat(4, calc(25% + 10px));}
         }
     
         &[data-items="5"] {
             .swiper-wrapper { grid-template-columns: repeat(5, calc(20% + 10px)); }
         }
    }

    .swiper-wrapper {
        display: grid;
        grid-template-rows: repeat(1, 300px);
        grid-template-columns: repeat(20, 497px 327px 233px 497px 327px);

        @include breakpointDown($bp-tablet-sm) {
            grid-template-columns: repeat(20, 395px 260px 186px 395px 260px);
            grid-template-rows: repeat(1, 250px);
        }

        @include breakpointDown($bp-mobile-md) {
            grid-template-columns: repeat(20, 215px 215px 215px 215px 215px);
            grid-template-rows: repeat(1, 250px);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        max-height: 300px;
        cursor: pointer;
        border-radius: 5px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
        }

    }
}