.propertyMap {
    background: $c-white;

    &__legend {
        background: $c-lepineBrown;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;

        h2 {
            color: $c-white;
            margin: 0;
        }

        
        @include breakpointDown($bp-mobile-lg) {
            padding: 20px 0;
        }
    }

    &__category {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 50px;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
        height: 100%;

        @include breakpointDown($bp-tablet-md) {
            grid-template-columns: repeat(3, 1fr);
        }

         @include breakpointDown($bp-mobile-lg) {
            display: none;
        }

        &--wrapper {
            box-shadow: $box-shadow;
            min-height: 190px;
            display: none;

            &.active {
                display: block;
    
                @include breakpointDown($bp-mobile-lg) {
                    display: none;
                }
            }
        }
    }
    
    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        color: $c-lepineDarkGrey1;
        cursor: pointer;

        &--icon {
            height: 35px;
            width: 35px;
            background: $c-lepineBrown;
            color: $c-white;
            font-family: 'Futura LT Medium', sans-serif;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__wrapper {
        height: 800px;
        width: 100%;

        @include breakpointDown($bp-mobile-lg) {
            height: unset;
        }

        .map {
            height: 100%;
            width: 100%;
            @include resetInfoWindow();
            @include infoWindowArrow($c-lepineBrown);
            @include infoWindowRemoveClose();


            @include breakpointDown($bp-mobile-lg) {
                display: none;
            }
        }
    }

    &__swiper {
        display: none;
        padding-top: 25px;

        .swiper {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include breakpointDown($bp-mobile-lg) {
            display: block;
        }
    }

    &__categories {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        column-gap: 10px;
        row-gap: 10px;
        padding-bottom: 25px;

        @include breakpointDown($bp-mobile-lg) {
            row-gap: 0;
            padding: 0 10px 10px 10px !important;
        }
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
        min-width: 200px;
        cursor: pointer;

        p {
            color: rgba(255,255,255,0.5);
            font-family: 'Futura LT Medium', sans-serif;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        &--icon {
            height: 50px;
            width: 50px;
            background: $c-lepineBrownLight;
            transition: 0.2s background;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpointDown($bp-mobile-lg) {
                height: 45px;
                width: 45px;
            }

            path {
                fill: $c-white;
                height: 80%;
                width: 80%;
                object-fit: contain;
                object-position: center;
                transition: 0.2s fill;
            }
        }

        &.active {
            .propertyMap__btn--icon {
                background: $c-white;
                transition: 0.2s background;

                path {
                    fill: $c-lepineBrown;
                    transition: 0.2s fill;
                }
            }

            p {
                color: $c-white;
            }
        }
    }

    &__card {
        display: flex;
        flex-flow: column nowrap;

        &[data-card="desktop"] {
            height: 180px;
            width: 200px;    
        }

        &[data-card="mobile"] {
            width: 290px;
            height: 270p;           
        }

        h3 {
            // text-transform: uppercase;
            color: $c-white;
            margin-bottom: 0;
        }

        p {
            font-family: 'Futura LT Medium', sans-serif;
            // text-transform: uppercase;
            color: $c-white;
            font-size: 12px;
            line-height: 12px;
        }

        &--header {
            background: $c-lepineBrown;
            color: $c-white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px;
            height: 40px;
        }

        &--image {
            width: 100%;

            &[data-card="desktop"] {
                height: 100px;
            }

            &[data-card="mobile"] {
                height: 180px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    
        &--etas {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background: $c-lepineBrown;
            column-gap: 15px;
            padding: 10px 0;
            height: 40px;
        }
    
        &--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

            height: 25px;
            width: 25px;

            background: $c-white;
            border: 2px solid $c-lepineBrown;
            border-radius: 50%;
    
            path {
                fill: $c-lepineBrown;
                height: 80%;
                width: 80%;
                object-fit: contain;
                object-position: center;
            }
        }
    
        &--time {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            margin-top: -22.5px;
        }
    }
}