.propertyFeatures {
    color: $c-white;
    background: $c-lepineBrownLight;
    position: relative;
    overflow: hidden;

    @include breakpointDown($bp-tablet-sm) {
        padding-top: 0 !important;
    }

    &__image {
        overflow: hidden;

        img {
            user-select: none;
        }

        &[data-background="desktop"] {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            height: 100%;
            display: block;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }
        &[data-background="mobile"] {
            display: none;
            width: 100%;
            height: 340px;

            @include breakpointDown($bp-mobile-sm) {
                height: 175px;
            }

            img {
                height: 100%;
                width: 100%;
                object-position: top right;
                object-fit: contain;
            }

            @include breakpointDown($bp-tablet-sm) {
                display: block;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        width: 180px;

        h2 {
            color: $c-white;
            margin: 0;
        }

        @include breakpointDown($bp-tablet-sm) {
            order: 1;
            flex: 1 0 45%;
        }

        @include breakpointDown($bp-mobile-lg) {
            order: 1;
            flex: 1 0 100%;
        }
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 40px;
        z-index: 2;
        position: relative;

        @include breakpointDown($bp-tablet-md) {
            margin-top: -50px;
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        row-gap: 25px;

        @include breakpointUp($bp-tablet-sm) {
            margin-bottom: 25px
        }

        @include breakpointDown($bp-tablet-sm) {
            flex-flow: row wrap;
        }
    }

    &__copy {
        display: flex;
        flex: 1 1;
        
        @include breakpointDown($bp-tablet-sm) {
            order: 3;
            flex: 1 0 100%;
        }

        @include breakpointDown($bp-mobile-lg) {
            order: 2;
            flex: 1 0 100%;
        }
    }

    &__btn {
        display: flex;
        align-items: center;

        @include breakpointDown($bp-tablet-sm) {
            order: 2;
            flex: 1 0 45%;
            justify-content: flex-end;
        }

        @include breakpointDown($bp-mobile-lg) {
            order: 3;
            flex: 1 0 100%;
            justify-content: flex-start;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 165px;

        @include contentPaddingBottom();

        @include breakpointDown($bp-tablet-md) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include breakpointDown($bp-mobile-lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpointDown($bp-mobile-md) {
            display: none;
        }
    }

    &__swiper {
        display: none;

        .swiper {
            .swiper-pagination-bullet-active {
                background: $c-white !important;
            }
        }

        @include breakpointDown($bp-mobile-md) {
            display: block;
        }
    }

    &Card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        width: 165px;
        height: 165px;
        grid-column: span 1;
        text-align: center;

        @include breakpointDown($bp-tablet-md) {
            width: 100%;
        }

        @include breakpointDown($bp-mobile-md) {
            width: 165px
        }

        &__icon {
            height: 90px;
            width: 90px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        &__copy {
            width: 100%;
            height: 65px;
        }

        p {
            font-family: "Futura LT Medium", sans-serif;
        }
    }
}