.cornerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 90%;
    // max-height: 400px;
    z-index: 1;

    @include breakpointDown($bp-mobile-lg) {
        max-height: 50%;
    }

    &.reverse {
        transform: scaleX(-1);
    }

    img {
        height: 100%;
        width: 100%;
        object-position: top left;
        object-fit: contain;
    }
}