.captionCard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 25px;

    height: 100%;
    width: 100%;
    max-width: 500px;

    @include breakpointDown($bp-mobile-md) {
        width: 100%;
        // height: unset;
    }

    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 550px;
        max-width: 500px;
        max-height: 550px;

        @include breakpointDown($bp-mobile-md) {
            width: 100%;
            height: 339px;
        }

    }

    &__content {
        background: $c-white;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        column-gap: 25px;

        position: absolute;
        bottom: 0;
        left: -10px;
        z-index: 2;
        width: 99%;
        padding: 25px;

        box-shadow: $box-shadow;

        @include breakpointDown($bp-mobile-md) {
            column-gap: 10px;
            padding: 10px;
        }

    }

    &__caption {
        height: 147px;
    }

    &__icon {
        height: 85px;
        width: 85px;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &__copy {
        flex: 1 1;
    }
}