.container {
    background: $c-white;
    max-width: 2560px;
    position: relative;
    overflow: hidden;

    &[data-brand="lepine"] {
        margin: 75px auto 0 auto;

        @include breakpointDown($bp-tablet-sm) {
            margin: 50px auto 0 auto;
        }

        .swiper-pagination-bullet-active {
            background: $c-lepineBrown !important;
        }

        .swiper-button-prev {
            .swiper::after{
                opacity: 0;
            }
        }
    
        .swiper-button-next {
            position: absolute !important;
            top: 0 !important;
            right: 0 !important;
        
            z-index: 2;
        
            .swiper::after{
                opacity: 0;
            }
        }
    }

    &[data-page="social"] {
        margin: 50px auto;
    }

    &[data-page="propertyV3"] {
        margin: auto;
    }

    &[data-page='home'] {
        .gm-style .gm-style-iw-tc::after {
            display: none !important;
        }
    }

    &[data-page='brochure'] {
        .nav {
            &__portal {
                display: none;
            }

            &__toggle {
                display: none;
            }

            &__content {
                display: none;
            }

            a[href="/#neighbourhoods"] {
                display: none;
            }
        }

        .contact__row:first-of-type {
            display: none;
        }
        .brochure__form {
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: center;
            padding-left: 0;
            padding-right: 0;

            form {
                @include hubspotForm();
                flex-flow: row nowrap;
                justify-content: flex-start;

                label { text-align: start; }

                li {
                    list-style-type: none;
                    display: flex;

                    label {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        column-gap: 10px; 
                        
                        input {
                            height: 15px;
                            width: 15px;
                        }
                    }
                }

             
            }

            .submitted-message {
                p{ color: $c-lepineBrown; padding: 25px; }
            }


            @include breakpointDown($bp-tablet-sm) {
                flex-flow: column nowrap;
            }
            
            &--image {
                flex: 1 0 48%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;

                    @include breakpointDown($bp-tablet-sm) {
                        display: none;
                    }
                }
            }

            &--content {
                padding: 25px;
                flex: 1 0 48%;

                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 1103px;

                @include breakpointDown($bp-tablet-sm) {
                    min-height: 400px;
                }

                div {
                    text-align: center;
                    width: 100%;
                }

                iframe {
                    width: 100% !important;
                }
            }
        }

        .imageCopyBlock__container  {
            background: $c-lepineBrown;
        }

       h2 {
        font-weight: 500;
        letter-spacing: 0.1em;
        
        @include breakpointUp(900px) {
            line-height: 55px;
        }

        &:not(:last-of-type) {
            margin-bottom: 5px;
        }

        &:last-of-type {
            margin-bottom: 25px;
        }
       }

       h3 {
        margin-bottom: 5px;
        font-weight: 500;

       }

       h2, h3, p {
        color: $c-white;
       }

       #footer {
        .btn {
            @include btnDefault();
            // font-family: 'Jost', sans-serif;
            font-weight: 700;
        
        }
        p, span { color: $c-white; }
    }
    }

    &[data-page="herosRidge"] {
        margin: 50px auto 0 auto;

        #hero, #nominate, #latestNews {
            background: #F3F3F1;
        }

        #latestNews {
            display: block !important;
        }

        .herosRidgeRed {
            color: $c-herosRidgeRed;
        }

        .sideImageContent__rt a {
            color: $c-herosRidgeRed;
        }

        #footer {
            background: #A9A39C;

            p, span { color: $c-white; }
        }

        .latestNews__swiper .overlay {
           background: linear-gradient(90deg, #ffffff00 0%, #F3F3F180 50%, #f3f3f3 100%)
        }

        .infoCard {
            border-bottom: 6px solid $c-herosRidgeRed;
        }

        .imageCopyBlock__copy--wrapper {
            @include breakpointDown($bp-tablet-sm) {
                justify-content: center;
            }
        }
    }

    &[data-page="propertyV2"] {
        #hero .showcaseImage__video, #hero video {
            // border-radius: 0 0 0 50px;

            @include breakpointDown($bp-tablet-md) {
                // border-radius: 0 0 0 50px;
                // width: 90%;
            }
        }

        #hero .imageCopyBlock {
            flex-flow: row-reverse nowrap;

            @include breakpointDown($bp-tablet-md) {
                flex-flow: column nowrap;
            }

            .showcaseImage video  {
                border-radius: 0 0 0 50px;

                @include breakpointDown($bp-tablet-md) {
                    border-radius: 0 0 0 50px;
                }
            }
        }

        .navSecondary__links {
            max-width: unset;
            justify-content: center;
        }

        .suiteDesign__image img {
            @include breakpointDown($bp-tablet-sm) {
                width: 90%;
            }
        }

        .navSecondary__item {
            a {
                text-transform: uppercase;
                letter-spacing: 1.6px;
            }
        }

        // #lifestyle {
        //     .showcaseImage[data-screen="desktop"] {
        //         @include breakpointUp(1700px) {
        //             min-height: 750px;
        //         }
        //     }
        // }

        // #lifestyle.imageCopyBlock__container, .showcaseContainer {
        //     @include breakpointUp(1700px) {
        //         min-height: 750px;
        //     }
        // }

        .contactV2__col--img2 img {
            object-position: top left;
        }

        .latestNews__header {
            text-align: center;
        }
    }

    &[data-page="leasing"] {
        margin: auto;
        max-width: 100%;
    }

    &[data-page='careers'],
    &[data-page='homeV2'] {
        margin: auto;

        .contactV2__col--img2 img {
            object-position: top left;
        }

        @include breakpointDown($bp-tablet-sm) {
            margin: 50px auto 0 auto;
        }

        .navV3__primary {
            padding: unset;
        }

        .navV3__primary--wrapper {
            max-width: 1822px;
            padding: 0 50px;

            @include breakpointDown($bp-mobile-lg) {
                padding: 0 30px;
            }

        }

        .searchContainer {
            padding-top: 0;
            margin-top: -82.5px;
            z-index: 5;
            background: none;

            @include breakpointDown($bp-tablet-lg) {
                margin-top: -132px;
            }  

            @include breakpointDown($bp-mobile-md) {
                display: none;
            }        
        }

        #lifestyle {
            background: #F3F3F1;
            // margin-top: -82.5px;

            .showcaseImage img {
                object-position: left;
            }

            @include breakpointDown($bp-mobile-md) {
                margin-top: 0;
            }  

        
            @include breakpointDown($bp-tablet-md) {
                .showcaseImage {
                    display: none;
                } 
            }
        
            @include breakpointDown($bp-mobile-sm) {
                padding-bottom: 0 !important;
            }
        }

        #renaissance {
            .showcaseImage img {
                object-position: top right;
            }
        }

        .contact__info--header {
            margin-bottom: 10px;
        }

        .contact__col {
            padding: 25px;

            &[data-row="info"] {
                height: unset;
            }
        }
                
        .contentWrapper {
            margin: auto;
            width: 100%;

            padding-left: 50px;
            padding-right: 50px;

            @include breakpointDown($bp-mobile-lg) {
                padding-right: 30px;
                padding-left: 30px;
            }

            &[data-wrapper='nav'] {
                max-width: 1692px;
            }

            &[data-wrapper='xl'] {
                max-width: 1822px;
            }

            &[data-wrapper='lg'] {
                max-width: 1524px;
            }

            &[data-wrapper='md'] {
                max-width: 1170px;
            }

            &[data-wrapper='sm'] {
                max-width: 1047px;
            }

            &[data-wrapper='triblog'] {
                max-width: 1350px;
            }


            &.mobileFullSwiper {
                @include breakpointDown($bp-mobile-lg) {
                    padding: 0 !important;
                }
            }

            &.heroWrapper {
                padding-right: 0;
                max-width: unset;

                @include breakpointDown($bp-mobile-lg) {
                    padding: 0;
                }
            }
        }

        .sp {
            padding: 100px 0 100px 0;
            
            @include breakpointDown($bp-tablet-lg) {
                padding: 50px 0 50px 0;
            }
            
            @include breakpointDown($bp-tablet-sm) {
                padding: 35px 0 35px 0;
            }
        
            &-top {
                padding-top: 100px;
            
                @include breakpointDown($bp-tablet-lg) {
                    padding-top: 50px;
                }
                
                @include breakpointDown($bp-tablet-sm) {
                    padding-top: 35px;
                }
            }
        
            &-bottom {
                padding-bottom: 100px;
            
                @include breakpointDown($bp-tablet-lg) {
                    padding-bottom: 50px;
                }
                
                @include breakpointDown($bp-tablet-sm) {
                    padding-bottom: 35px;
                }
            }
        }
    }
}

.container[data-page="comingsoon"] {
    .listings__registerForm--header h2 {
        color: $c-white;
    }
}

.contentWrapper {
    margin: auto;
    width: 100%;

    @include breakpointDown($bp-desktop-sm) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @include breakpointDown($bp-mobile-lg) {
        padding-right: 30px;
        padding-left: 30px;
    }

    &[data-wrapper='nav'] {
        max-width: 1692px;
    }

    &[data-wrapper='xl'] {
        max-width: 1596px;
    }

    &[data-wrapper='lg'] {
        max-width: 1524px;
    }

    &[data-wrapper='md'] {
        max-width: 1170px;
    }

    &[data-wrapper='sm'] {
        max-width: 1047px;
    }

    &[data-wrapper='triblog'] {
        max-width: 1350px;
    }


    &.mobileFullSwiper {
        @include breakpointDown($bp-mobile-lg) {
            padding: 0 !important;
        }
    }

    &.heroWrapper {
        padding-right: 0;
        max-width: unset;

        @include breakpointDown($bp-mobile-lg) {
            padding: 0;
        }
    }
}

