.comingSoonHero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    @include breakpointDown($bp-mobile-md) {
        box-shadow: $box-shadow;
    }

    &__copy {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex: 1 0 48%;
        max-width: 870px;

        @include breakpointDown($bp-mobile-md) {
            max-width: unset;
            padding: 25px;
            align-items: flex-start;
        }

        h2, h3 {
            margin: 0;
        }

        &--wrapper {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            row-gap: 25px;
    
            max-width: 638px;
        }      
    }

    @include breakpointDown($bp-mobile-md) {
        flex-flow: column-reverse nowrap;
    }

    &__content {
        flex: 1 0 48%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        max-width: $bp-mobile-md;
        position: relative;

        
        @include breakpointDown($bp-tablet-lg) {
            flex: unset;
            height: 400px;
            width: 100%;
            max-width: unset;
        }

        @include breakpointDown($bp-mobile-md) {
            height: 300px;
        }


        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            padding: 0 25px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            @include breakpointDown($bp-mobile-md) {
                display: none;
            }
    
            img {
                object-fit: contain !important;
                object-position: left center !important;
                user-select: none;
        
                // max-width: 846px;
                // max-height: 610px;
            }
    
        }

        img {
            height: 90%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            user-select: none;
            border-radius: 0 0 0 25px;

            @include breakpointDown($bp-mobile-md) {
                border-radius: 0;
                height: 100%;
            }
        }

        #heroVideo {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    @include breakpointDown($bp-mobile-lg) {
        box-shadow: $box-shadow;
    }

    h1 {
        font-family: 'Crimson Semi Bold', sans-serif;
        // @include heroTypography();
        // color: $c-lepineBrown;
    }


    p {
        @include heroTypography();
        margin-bottom: 35px;
    }
    
    &__logo {
        display: none;
        margin-bottom: 35px;

        @include breakpointDown($bp-mobile-lg) {
            display: block;
        }
    }

    &__address {
        color: $c-lepineBrownLight;
        font-family: 'Futura LT Medium', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__copy {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        flex: 1 0 48%;
        max-width: 870px;
        @include contentPaddingTop();
        @include contentPaddingBottom();

        @include breakpointDown($bp-tablet-lg) {
            max-width: unset;
        }

        .contentWrapper {
            width: unset;
        }

        &--wrapper {
            justify-self: center;
            max-width: 638px;
        }      
    }

    @include breakpointDown($bp-mobile-lg) {
        flex-flow: column-reverse nowrap;
    }

    &__subtitle {
        flex: 1 0 38%;

        @include breakpointDown($bp-mobile-lg) {
            flex: unset;
            width: 100%;
            padding: 0 50px;
        }

        @include breakpointDown($bp-mobile-lg) {
            padding: 0 30px;
        }
    }

    &__content {
        flex: 1 0 48%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 675px;
        max-width: $bp-tablet-sm;
        position: relative;

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            padding: 0 25px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            @include breakpointDown($bp-mobile-lg) {
                display: none;
            }
    
            img {
                object-fit: contain !important;
                object-position: left center !important;
                user-select: none;
            }
    
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            user-select: none;

            @include breakpointUp($bp-tablet-sm) {
                border-radius: 0 0 0 25px;
            }
        }

        @include breakpointDown($bp-tablet-sm) {
            flex: unset;
            height: 600px;
            width: 100%;
            max-width: unset;
        }

        @include breakpointDown($bp-mobile-lg) {
            height: 400px;
        }

        @include breakpointDown($bp-mobile-md) {
            height: 250px;
        }

        #heroVideo {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &[data-page="brochure"] {
        background: rgba(178, 172, 170, 0.1254901961);
        align-items: unset;

        @include breakpointDown($bp-tablet-sm) {
            flex-flow: column-reverse nowrap;
        }

        .hero__copy {
            max-width: unset;
            padding: 50px 0;

            @include breakpointDown($bp-mobile-lg) {
                padding: 25px 0;
            }

            &--wrapper {
                @include breakpointDown($bp-tablet-sm) {
                    max-width: unset;
                }
            }
        
        }

        .themeHeaderRt {
            h2, h3 {
                display: none;
            }
        }

        .hero__content {
            height: auto;

            @include breakpointDown($bp-tablet-sm) {
                height: 400px;
                flex: unset;
            }

            @include breakpointDown($bp-mobile-md) {
                height: 250px;
            }
        }

        h2 {
            // font-weight: 500;
            // letter-spacing: 0.1em;
            
            @include breakpointUp(900px) {
                // line-height: 55px;
            }
    
            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
    
            &:last-of-type {
                margin-bottom: 25px;
            }
           }
    
           h3 {
            margin-bottom: 5px;
            // font-weight: 500;
           }
    }
}

.heroVideo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 750px;
    width: 100%;
    // padding: 115px;

    background: #F3F3F1;

    
    h1 {
        font-family: 'Crimson Semi Bold', sans-serif;
        color: $c-lepineBrown;
        margin: 0;   

        font-size: 75px;
        line-height: 85px;
        z-index: 3;

        @include breakpointDown($bp-mobile-lg) {
            font-size: 55px;
            line-height: 65px;    
        }

        @include breakpointDown($bp-mobile-md) {
            font-size: 40px;
            line-height: 45px;    
        }
    }
    
    p {
        margin-bottom: 35px;

    }

    .contentWrapper {
        // margin-left: 0;
        z-index: 3;

        @include breakpointDown($bp-tablet-md) {
            margin-left: unset;
        }
    }

    @include breakpointDown($bp-tablet-md) {
        align-items: flex-start;
    }

    @include breakpointDown($bp-mobile-lg) {
        height: 665px;
        // padding: 100px 50px;
    }

    @include breakpointDown($bp-mobile-md) {
        height: 310px;
        // padding: 30px;
    }

    &__title {
        font-size: 75px;
        line-height: 85px;
        z-index: 3;

        @include breakpointDown($bp-mobile-lg) {
            font-size: 55px;
            line-height: 65px;    
        }

        @include breakpointDown($bp-mobile-md) {
            font-size: 40px;
            line-height: 45px;    
        }
    }
    

    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        object-position: center;
        object-fit: cover;
        opacity: 0.6;
    }
}