.imageBlock {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    z-index: 1;

    width: 500px;
    height: 550px;

    margin: 0 0 15px 15px;

    @include breakpointDown($bp-mobile-lg) {
        height: 355px;
        width: 321px;
    }

    @include breakpointDown($bp-mobile-md) {
        height: 300px;
        width: 300px;
    }

    h3 {
        margin: 0;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        user-select: none;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
        }
    }

    &__content {
        background: $c-white;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 35px;

        position: absolute;
        bottom: -15px;
        left: -15px;
        z-index: 2;

        padding: 25px;
        max-width: 95%;
        min-width: 360px;
        // height: 147px;
        box-sizing: border-box;
        border-radius: 5px;

        box-shadow: $box-shadow;

        @include breakpointDown($bp-mobile-lg) {
            // height: 69px;
            width: 95%;
            min-width: unset;
            padding: 10px 25px;
            column-gap: 15px;
        }
    }

    &__icon {
        height: 82px;
        width: 88px;

        @include breakpointDown($bp-mobile-lg) {
            height: 47px;
            width: 50px;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
}