.imageCard {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: $box-shadow;
    width: 348px;
    flex: 1 0 20%;
    max-width: 348px;

    @include breakpointDown($bp-mobile-md) {
        width: 275px;
    }

    h3 {
        margin-bottom: 15px;

        @include breakpointDown($bp-mobile-md) {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
        }
    }

    &__image {
        height: 320px;
        width: 100%;
        cursor: pointer;
        position: relative;

        @include mobileCardImageHeight();

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 75px;
            width: 75px;
            filter: drop-shadow(0 10px 5px #000);
            object-fit: contain;
            object-position: center;
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        padding: 25px 35px;
        height: 280px;
        background: $c-white;

        @include breakpointDown($bp-mobile-md) {
            padding: 15px 25px;
            // height: 240px;
        }
    }
    
    &__copy {
        @include cardTypography();
    }

    &__footer {
        padding: 10px 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        background: $c-lepineBrown;
        color: $c-white;
        transition: background 0.2s;
        cursor: pointer;



        span {
            font-family: 'Futura LT Medium', sans-serif;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
    }

    &__popup {
        @include iframeContainer();

        &--close {
            @include iframeClose();
        }
    }
}