.suiteDesignAndFeatures {
    .contentWrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, min-content);
        column-gap: 50px;
        row-gap: 50px;

        @include breakpointDown($bp-tablet-md) {
            column-gap: 30px;
            row-gap: 30px;
        }
    }

    ul {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 5px;
        
        @include breakpointDown($bp-mobile-lg) {
            padding-left: 25px;
        }
    }

    li {
        list-style-position: outside;
        box-sizing: border-box;

        @include breakpointUp($bp-tablet-md) {
            margin-left: 25px;
        }
    }

    &__col {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 25px;
        column-gap: 25px;
        
        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100% !important;
            border-radius: 5px;
        }

        .swiper {
            height: 100%;
            width: 100% !important;
            border-radius: 5px;

            @include breakpointUp($bp-tablet-lg) {
                min-height: 550px;
            }

            @include breakpointDown($bp-tablet-lg) {
                height: 550px;
            }

            @include breakpointDown($bp-tablet-sm) {
                height: 450px;
            }

            @include breakpointDown($bp-mobile-lg) {
                height: 300px;
            }

            @include breakpointDown($bp-mobile-sm) {
                height: 230px;
            }

            .swiper-slide {
                height: 100%;
                width: 100% !important;
    
                img {
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100% !important;
        
                }
            }
        }

        &[data-col="designImage"] {
            grid-column: 1 / 8;
            grid-row: 1 / 3;

            @include breakpointDown($bp-tablet-md) {
                display: none;
            }
        }

        &[data-col="designItems"] {
            grid-column: 8 / 13;
            grid-row: 1 / 3;

            @include breakpointDown($bp-tablet-md) {
                grid-column: 1 / 7;
                grid-row: 3 / 5;
            }

            @include breakpointDown($bp-mobile-lg) {
                grid-column: 1 / 13;
                grid-row: 3 / 4;
            }
        }

        &[data-col="featuresItems"] {
            grid-column: 1 / 6;
            grid-row: 3 / 5;

            a {
                @include breakpointDown($bp-mobile-lg) {
                    margin: auto auto 0 auto;
                }
            }

            @include breakpointDown(1380px) {
                grid-column: 1 / 5;
            }

            @include breakpointDown($bp-tablet-md) {
                grid-column: 7 / 13;
                grid-row: 3 / 5;
            }

            @include breakpointDown($bp-mobile-lg) {
                grid-column: 1 / 13;
                grid-row: 4 / 5;
            }
        }

        &[data-col="featuresGallery"] {
            grid-column: 6 / 13;
            grid-row: 3 / 5;
            max-height: 550px;

            @include breakpointDown(1380px) {
                grid-column: 5 / 13;
            }

            @include breakpointDown($bp-tablet-md) {
                grid-column: 1 / 13;
                grid-row: 1 / 3;
            }
        }

    }
}