.propertyFeaturesV3 {
    position: relative;
    background: #F3F3F1;

    display: flex;
    flex-flow: column nowrap;
    row-gap: 30px;

    .contentWrapper {
        position: relative;
        z-index: 2;
    }

    &__arrow {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top left;
        transform: scaleX(-1);
    }

    &__image {
        overflow: hidden;

        img {
            user-select: none;
        }

        &[data-background="desktop"] {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            height: 100%;
            display: block;

            @include breakpointDown($bp-tablet-sm) {
                display: none;
            }
        }
        &[data-background="mobile"] {
            display: none;
            width: 100%;
            height: 340px;

            @include breakpointDown($bp-mobile-sm) {
                height: 175px;
            }

            img {
                height: 100%;
                width: 100%;
                object-position: top right;
                object-fit: contain;
            }

            @include breakpointDown($bp-tablet-sm) {
                display: block;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        flex: 1 1;

        h2 {
            color: $c-white;
            margin: 0;
        }

        @include breakpointDown($bp-tablet-sm) {
            order: 1;
            flex: 1 0 45%;
        }

        @include breakpointDown($bp-mobile-lg) {
            order: 1;
            flex: 1 0 100%;
        }
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 40px;
        z-index: 2;
        position: relative;
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 100px;
        row-gap: 25px;

        @include breakpointUp($bp-tablet-sm) {
            margin-bottom: 25px
        }

        @include breakpointDown($bp-tablet-sm) {
            flex-flow: row wrap;
        }
    }

    &__copy {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 1 0 48%;
        text-align: end;
        row-gap: 25px;
        
        @include breakpointDown($bp-tablet-sm) {
            text-align: start;
            order: 3;
            flex: 1 0 100%;
        }

        @include breakpointDown($bp-mobile-lg) {
            order: 2;
            flex: 1 0 100%;
        }
    }

    &__btn {
        display: flex;
        align-items: center;

        @include breakpointDown($bp-tablet-sm) {
            order: 2;
            flex: 1 0 45%;
            justify-content: flex-end;
        }

        @include breakpointDown($bp-mobile-lg) {
            order: 3;
            flex: 1 0 100%;
            justify-content: flex-start;
        }
    }

    &__cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 25px;
        row-gap: 25px;

        @include breakpointDown($bp-tablet-lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpointDown($bp-tablet-md) {
            grid-auto-rows: 475px;
        }

        @include breakpointDown($bp-tablet-sm) {
            display: none;
        }
    }

    &__swiper {
        display: none;
        width: 100%;

        @include breakpointDown($bp-tablet-sm) {
            display: block;
        }
    }
}

.featureCarousel {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 500px 150px;
    row-gap: 10px;
    column-gap: 25px;

    @include breakpointDown($bp-tablet-lg) {
        grid-template-rows: auto 300px;
        grid-template-rows: 400px 150px;
    }
    

    @include breakpointDown($bp-tablet-sm) {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 150px 150px;
    }
    
    @include breakpointDown($bp-mobile-lg) {
        grid-template-rows: 300px 150px 150px;
    }

    &__overlay {
        position: absolute;
        height: 100%;
        width: 25px;
        z-index: 4;
        transition: opacity 0.5s ease-in;
        opacity: 0;
        z-index: 10;

        &.left {
            top: 0;
            left: 0; 
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);   
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }

        &.right {
            top: 0;
            right: 0;  
            background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%); 
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }
    }


    &__row {
        &--header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 10px;

            h3 {
                margin: 0;
            }
        }

        &--icon {
            height: 40px;
            width: 40px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            height: 25px;
            width: 25px;
            z-index: 3;
    
            path {
                fill: $c-white;
                stroke: $c-white;
            }
        }

        &[data-row="image"] {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            @include breakpointDown($bp-tablet-sm) {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            display: none;

            border-radius: 10px;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: cover;

                border-radius: 10px;
            }

            &.active {
                display: flex;
            }
        }

        &[data-row="info"] {
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            @include breakpointDown($bp-tablet-sm) {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }

            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            row-gap: 10px;

            &.active {
                display: flex;
            }
        }

        &[data-row="swiper"] {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            overflow-x: hidden;
            position: relative;

            @include breakpointDown($bp-tablet-sm) {
                grid-column: 1 / 3;
                grid-row: 3 / 4;
            }

            .swiper-slide {
                height: 150px !important;
                width: 150px !important;
                border-radius: 5px;
                user-select: none;
                cursor: pointer;

                &-active {
                    img {
                        opacity: 0.25;
                        transition: opacity 0.25s ease-in-out;
                    }
                }

                &:not(:last-of-type) {
                    margin-right: 10px;
                }

                img {
                    height: 150px;
                    width: 150px;
                    object-position: center;
                    object-fit: cover;
                    border-radius: 5px;
                    transition: opacity 0.25s ease-in-out;
                }
            }
        }
    }
}