// .keyFeaturesSwiper {
//     // background: red;
//     height: 100vh;
//     min-height: 800px;
//     width: 100%;

//     .swiper {
//         width: 100% !important;
//         height: 100% !important;
//         position: relative;
//       }
      
//       .swiper-slide {
//         text-align: center;
//         font-size: 18px;
//         background: #f4f4f4;
//         width: 100% !important;
//         height: 100% !important;
      
//         /* Center slide text vertically */
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
      
//       .swiper-slide img {
//         display: block;
//         width: 100% !important;
//         height: 100% !important;
//         object-fit: cover;
//       }
      
//       .autoplay-progress {
//         background: red;
//         position: absolute;
//         right: 16px;
//         bottom: 16px;
//         z-index: 10;
//         width: 48px;
//         height: 48px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         font-weight: bold;
//         color: var(--swiper-theme-color);
//       }
      
//       .autoplay-progress svg {
//         --progress: 0;
//         position: absolute;
//         left: 0;
//         top: 0px;
//         z-index: 10;
//         width: 100% !important;
//         height: 100% !important;
//         stroke-width: 4px;
//         stroke: var(--swiper-theme-color);
//         fill: none;
//         stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
//         stroke-dasharray: 125.6;
//         transform: rotate(-90deg);
//       }
// }