.showcaseImage {
    z-index: 3;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    @include breakpointDown($bp-tablet-md) {
        position: relative;
     }

     &__video {
        background: #f2f2f1;
        
        &[data-screen="desktop"] {
            display: block;

            @include breakpointDown($bp-tablet-md) {
                display: none;
            }
        }

        
        &[data-screen="mobile"] {
            display: none;

            @include breakpointDown($bp-tablet-md) {
                display: block;
            }
        }


        @include breakpointDown($bp-tablet-md) {
            width: 100% !important;
        }

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

            cursor: pointer;

            &:hover {
                img {
                    opacity: 1;
                    transition: opacity 0.1s ease-in;
                }
            }

            img {
                opacity: 0;
                height: 100px !important;
                width: 100px !important;
                object-fit: contain !important;
                object-position: center;
                transition: opacity 0.1s ease-in;
            }
        }

        video, iframe {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: calc(100% - 50px);
            border-radius: 0 0 0 50px;

            @include breakpointDown($bp-tablet-md) {
                height: 100%;
                object-fit: cover;
                border-radius: 50px 50px 0 0;
            }
        }
     }

    &.reverse {
        left: unset;
        right: 0 !important;

        &[data-screen='mobile'] {
            justify-content: flex-end !important;
        }
    }

    &[data-screen="desktop"] {
        min-height: 500px;

        @include breakpointDown($bp-tablet-md) {
            display: none;
         }
    }

    &[data-screen="mobile"] {
        display: none;
        justify-content: flex-start;
        max-height: 560px;
       
        
        @include breakpointDown($bp-desktop-md) {
            height: 380px;
         }

        @include breakpointDown($bp-tablet-md) {
            display: flex;
         }

         @include breakpointDown($bp-mobile-lg) {
            height: 350px;
         }

         @include breakpointDown($bp-mobile-md) {
            height: 200px;
         }

         img {
            width: 90%;
         }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &[data-colsize="25"] {
        width: calc(25vw - 50px);
    }

    &[data-colsize="33"] {
        width: calc(33.333vw - 50px);
    }

    &[data-colsize="50"] {
        img {
            width: calc(50vw - 50px);

            @include breakpointDown($bp-tablet-md) {
                width: calc(80vw - 50px);
            }
        }
    }

    &[data-colsize="75"] {
        width: calc(75vw - 50px);
    }
}