$commercial-light: #fafafb;
$commercial-mid: #758694;
$commercial-dark: #405D72;

.container[data-page="commercial"] {
    margin: auto;
    max-width: 2560px;

    .swiper-pagination-bullet {
        background: $c-white !important;
    }
    .swiper-pagination-bullet-active {
        background: $c-white !important;
    }

    h1, h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    h3, h4, h5, h6 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    p, ul, li, input, select, option, label, textarea, footer span {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p {
        margin-bottom: 25px;
    }

    .map {
        height: 100vh;
        max-height: 1000px;

        @include breakpointDown($bp-tablet-md) {
            max-height: 60vh;
        }
    }

    h2, h3 {
        color: $commercial-dark;
    }

    footer {
        background: $commercial-dark;

        span, p {
            margin: 0;
        }
    }

    .navV3.top .navV3__phone--icon {
        path {
            fill: $commercial-dark;

            @include breakpointDown($bp-tablet-lg) {
                fill: $c-white;
            }
        }

        circle {
            @include breakpointDown($bp-tablet-lg) {
                fill: $commercial-dark;
            }
        }
    }

    .navV3:not(.top) {
        .navV3__phone--copy {
            color: $commercial-dark;
        }

        .navV3__phone--icon circle {
            fill: $commercial-dark;
        }
    }

    .navV3.top {
        @include breakpointDown($bp-tablet-lg) {
            .navV3__phone--copy {
                color: $commercial-dark;
            }
        }
    }

    .btn {
        background: $commercial-dark;
        border-color: $commercial-dark;
        &:hover {
            background: darken($commercial-dark, 5%);
            border-color: darken($commercial-dark, 5%);
            color: $c-white;
        }
    }

    .translucentButton {
        svg {
            path { fill: $commercial-dark !important; }
        }

        &:hover {
            svg path { fill: $c-white !important; }
        }
    }
}

.commercial__swiper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    grid-column: 1 / 13;
    grid-row: 1 / 13;
    max-width: 2560px;
    height: 100vh;
    max-height: 1000px;
    width: 100vw;

    @include breakpointDown($bp-desktop-sm) {
        max-height: 800px;
    }

    @include breakpointDown($bp-tablet-md) {
       height: 600px;
    }

    @include breakpointDown($bp-mobile-lg) {
        height: 500px;
     }

    &--wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        max-width: 2560px;
        height: 100vh;
        max-height: 1000px;

        @include breakpointDown($bp-tablet-md) {
            margin-top: 50px;
            height: 500px;
        }
    }

    &--copy {
        h1 {
            font-size: 75px;
            line-height: 80px;
            color: $c-white;
            margin: 0;
            text-shadow: 2.5px 2.5px 2.5px #00000040;
            text-align: center;

            @include breakpointDown($bp-tablet-md) {
                font-size: 40px;
                line-height: 50px;
            }
        }

        h3 {
            color: $c-white !important;
            text-shadow: 2.5px 2.5px 2.5px #00000040;
            margin: 0;
        }

        p {
            color: $c-white;
            text-align: center;
            text-shadow: 2.5px 2.5px 2.5px #00000040;
            margin: 0;
        }

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        z-index: 2;
        grid-column: 3 / 11;
        grid-row: 6 / 8;
        row-gap: 10px;

        padding: 25px;

        @include breakpointDown($bp-tablet-md) {
            grid-column: 1 / 13;

        }
    }

    .swiper-slide {
        background: $commercial-dark;
        width: 100vw !important;
        height: 100vh;
        max-height: 1000px;

        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpointDown($bp-tablet-md) {
            height: 500px;
         }

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
            opacity: 0.5;
            user-select: none;
        }
    }   
}

.commercial__about {
    .contentWrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    h2 {
        margin-bottom: 25px;
    }
}

.commercial__specs {
    &--overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.15;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &[data-screen="desktop"] {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        row-gap: 25px;
    
        @include breakpointDown($bp-mobile-lg) {
            display: none;
        }
    }

    &[data-screen="mobile"] {
        display: none;

        @include breakpointDown($bp-mobile-lg) {
            display: block;
        }
    }
}

.commercial__specs--container {
    background: $commercial-mid;
    position: relative;

    h2 {
        text-shadow: 2.5px 2.5px 2.5px #00000040;
        position: relative;
        z-index: 1;
        color: $commercial-light !important;
    }


}

.commercial__specs--item {
    flex: 1 1 48%;
    max-width: calc(50% - 25px);
    height: 400px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    background: $c-white;

    @include breakpointDown($bp-mobile-lg) {
        max-width: unset;
        height: 300px;
    }

    ul {
        width: 100%;
        
        li {
            width: 100%;
            list-style-position: outside;
            margin-left: 25px;
        }
    }
}

.commercial__specs--swiper {
    .swiper-slide {
        width: 100% !important;
    }
}

.commercial__listings {
    background: $commercial-mid;
    position: relative;

    h2 {
        text-shadow: 2.5px 2.5px 2.5px #00000040;
        position: relative;
        z-index: 1;
    }

    &--overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.15;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.commercialListings__swiper {
    .swiper-slide {
        padding: 0 25px;
        cursor: pointer;
        width: 100% !important;
    }
}

.commercial__listings--container {
    position: relative;
    z-index: 2;
    column-gap: 25px;
    row-gap: 50px;

    @include breakpointDown($bp-mobile-md) {
        row-gap: 25px;
    }

    &[data-screen="desktop"] {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        @include breakpointDown($bp-mobile-md) {
            display: none;
        }
    }

    &[data-screen="mobile"] {
        display: none;

        @include breakpointDown($bp-mobile-md) {
            display: block;
        }
    }
}

.commercial__listings--item {
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    height: 400px;
    width: 100%;

    @include breakpointDown($bp-mobile-md) {
        column-gap: 10px;
        row-gap: 10px;
        height: unset;
        width: 100%;
    }
}

.commercial__listings--item:nth-of-type(even) {
    flex-flow: row nowrap;
    @include breakpointDown($bp-mobile-md) {
        flex-flow: column nowrap;
    }
}

.commercial__listings--item:nth-of-type(odd) {
    flex-flow: row-reverse nowrap;
    @include breakpointDown($bp-mobile-md) {
        flex-flow: column nowrap;
    }
}

.commercial__listings--image {
    flex: 1 0 30%;
    box-shadow: $box-shadow;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    @include breakpointDown($bp-tablet-sm) {
        flex: 1 0 48%;
    }

    @include breakpointDown($bp-mobile-md) {
        height: 250px;
        flex: unset;
    }

    img {
        height: 95%;
        width: 95%;
        object-position: center;
        object-fit: contain;

        @include breakpointDown($bp-mobile-lg) {
            height: 200px;
            flex: unset;
        }
    }
}

.commercial__listings--content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: 1 0 64%;
    background: $commercial-light;
    padding: 25px 75px;
    border-radius: 5px;
    box-shadow: $box-shadow;

    @include breakpointDown($bp-tablet-sm) {
        flex: 1 0 48%;
        flex: unset;
        padding: 25px;
    }

    h3, p {
        margin: 0;
    }

    p:last-of-type {
        margin-bottom: 0 !important;
    }
}

.commercial__listings--sqft {
    color: $commercial-mid;
}

.commercial__listings--available {
    font-weight: 700 !important;
    color: $commercial-dark;
}

.commercial__listings--header {
    // text-align: center;
    color: $c-white !important;
}

.commercial__cta {
    height: 100vh;
    max-height: 1000px;

    @include breakpointDown($bp-tablet-md) {
        max-height: 60vh;
    }

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: url('https://lepine-storage.nyc3.cdn.digitaloceanspaces.com/commercial/12461-1050%20CS-Commerces%20Great%20Lakes.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px;

    &--container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        max-width: 600px;

        border-radius: 5px;
        background: rgba(255, 255, 255, 0.75);
        padding: 50px;
        box-shadow: $box-shadow;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        text-align: center;

        p:last-of-type {
            margin-bottom: 0 !important;
        }
    }
}

.commercial-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $commercial-dark;
}

// Commercial V2
.commercial__unitSpecifications {
    &--container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        row-gap: 50px;
    }

    &--content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        // align-items: center;
        column-gap: 50px;
        row-gap: 25px;

        @include breakpointDown($bp-tablet-md) {
            flex-flow: column nowrap;
        }
    }

    &--image {
        flex: 1 0 48%;
        border-radius: 10px;
        display: flex;
        box-shadow: $box-shadow;

        @include breakpointDown($bp-tablet-md) {
            flex: 1;
            height: 500px;
        }

        img {
            border-radius: 10px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &--copy {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1 0 48%;
        column-gap: 25px;
        row-gap: 25px;
    }

    &--listContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 10px;
        row-gap: 10px;
    }

    &--list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 10px;
        row-gap: 10px;

        li {
            margin-left: 20px;
        }

        &Header {
            h3 {
                margin: 0;
            }
        }
    }

    &--footer {
        &Container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            row-gap: 25px;
            text-align: center;    
            max-width: 500px;
        }

        &Contact {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            row-gap: 5px;
            text-align: center;    
        }

        span {
            font-weight: bold;
        }   
    }
}

.commercial__businessOpportunity {
    background: #F3F3F1;
    text-align: center;

    &--container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    
        row-gap: 25px;
        column-gap: 25px;

        h3 {
            margin: 0;
        }
    }

    &--video {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        max-height: 750px;
    }

    img, video {
        width: 100%;
        height: 100%;
        max-height: 750px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        box-shadow: $box-shadow;
    }
}

.container[data-theme="cslcommercial"] {
    margin: 50px auto 0 auto;

    .fullVideoHero {
        background: #5e514d;
    }

}

.csl__hero {
    width: 100%;
    height: auto;
    max-height: 750px;
    // overflow-y: hidden;

    position: relative;

    // background: #5E514D;

    video {
        height: auto;
        max-height: 750px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin: 0;
        padding: 0;
    }
}