.blogPost {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    column-gap: 50px;
    row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    
    @include breakpointDown($bp-tablet-sm) {
        column-gap: 25px;
        row-gap: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    &__headerImage {
        height: 500px;
        width: 100%;
        margin: auto;
        
        @include breakpointDown($bp-tablet-md) {
            max-height: 40vh;
        }
        
        @include breakpointDown($bp-mobile-md) {
            max-height: 30vh;
        }

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    &__YouTube {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        iframe {
            width: 100%;
            height: 600px;

            @include breakpointDown($bp-tablet-lg) {
                height: 500px;
            }

            @include breakpointDown($bp-mobile-lg) {
                height: 350px;
            }

            @include breakpointDown($bp-mobile-sm) {
                height: 250px;
            }
        }
    }

    &__copy {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        row-gap: 25px;    
    }

    &__list {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        row-gap: 50px;

        @include breakpointDown($bp-tablet-sm) {
            row-gap: 25px;
        }

        &[data-list-alignment="left"] {
            align-items: start;
        }

        &[data-list-alignment="center"] {
            align-items: center;
        }

        ul, ol {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 10px;
        }

        li {
            list-style-position: inside;
        }
    }

    &__image {
        &--caption {
            padding: 10px;
            text-align: center;
            font-style: italic;
        }
        
        img {
            max-height: 50vh;
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
            border-radius: 25px;

            @include breakpointDown($bp-tablet-md) {
                max-height: 33vh;
            }
        }
    }

    &__imageAndCopy {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        column-gap: 50px;
        row-gap: 50px;

        @include breakpointDown($bp-tablet-lg) {
            column-gap: 25px;
            row-gap: 25px;
        }

        @include breakpointDown($bp-tablet-md) {
            flex-flow: column nowrap !important;
        }

        &[data-image-alignment="left"] {
            flex-flow: row nowrap;
        }

        &[data-image-alignment="right"] {
            flex-flow: row-reverse nowrap;
        }

        .blogPost__image {
            flex: 1 0 48%;

            .blogPost__copy {
                flex: 1;
            }
        }
    }

    &__return {
        width: 100%;
        height: 100px;
        border-radius: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}