@keyframes pulse {
    0% {
        transform: scale(1);
        transform: translateY(0);
    }
    
    50% {
        transform: scale(1.1);
        transform: translateY(-5px);
    }

    100% {
        transform: scale(1);
        transform: translateY(0);
    }
}

.videoHero {
    background: url('https://lepine-storage.nyc3.digitaloceanspaces.com/57133b0e65df55f2066b18b84c9de832.png') #f2f2f1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    min-height: 600px;
    width: 100%;
    max-height: 1080px;

    @include breakpointDown($bp-tablet-lg) {
       height: 600px;
       min-height: unset;
    }

    @include breakpointDown($bp-mobile-md) {
        height: 350px;
    }

    &__scroll {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1 !important;
        height: 75px;
        width: 100%;
        z-index: 100;

        display: flex;
        justify-content: center;
        align-items: center;
        animation: pulse 1s ease-in-out infinite;


        img {
            transform: rotate(90deg);
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        // padding-left: 0 !important;
        // padding-right: 0 !important;
        max-width: 1822px !important;

        h1 {
            margin: 0;
            color: $c-white;
            text-shadow: 2.5px 2.5px 2.5px #00000040;
        }
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 2;
    }
}

.socialLinksBar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    z-index: 10;
    height: 100%;
    position: absolute;
    top: 0;
    right: 25px;

    @include breakpointDown($bp-mobile-md) {
        right: 10px;
    }

    p {
        font-family: 'Jost', sans-serif;
        color: $c-white;
        font-weight: 600;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
    }
}