.propertyMapV3 {
    background: $c-white;
    color: $c-white;

    &__legend {
        background: $c-lepineBrown;
    }

    &__header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        row-gap: 25px;

        padding: 50px 25px 25px 25px;
        border-radius: 5px 5px 0 0;

        text-align: center;

        h2 {
            color: $c-white;
            margin: 0;
        }
        
        @include breakpointDown($bp-mobile-lg) {
            padding: 25px;
            text-align: unset;
        }
    }

    &__category {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 10px;
        row-gap: 10px;
        padding: 25px 10px;
        height: 100%;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

         @include breakpointDown($bp-mobile-lg) {
            display: none;
        }

        &--wrapper {
            min-height: 190px;
            display: none;
            z-index: 2;


            &.active {
                display: block;
    
                @include breakpointDown($bp-mobile-lg) {
                    display: none;
                }
            }
        }
    }
    
    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 5px;
        color: $c-white;
        cursor: pointer;
        border-radius: 25px;
        padding-right: 10px;
        border: 2.5px solid transparent;
        transition: border 0.25s ease-in-out;

        &[data-active="true"] {
            border: 2.5px solid $c-white;
            transition: border 0.25s ease-in-out;
        }

        &--icon {
            height: 35px;
            width: 35px;
            background: $c-lepineBrown;
            color: $c-white;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3 {
            font-size: 13px !important;
            line-height: 17px !important;
            user-select: none;
            margin: 0;
            color: $c-white !important;
        }
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 105px);
        min-height: 800px;
        max-height: 1000px;
        width: 100%;
        position: relative;

        @include breakpointDown($bp-mobile-lg) {
            height: unset;
            min-height: unset;
        }

        .map {
            height: 100%;
            width: 100%;
            @include resetInfoWindow();
            @include infoWindowArrow($c-lepineBrown);
            @include infoWindowRemoveClose();


            @include breakpointDown($bp-mobile-lg) {
                display: none;
            }
        }
    }

    &__navigation {
        height: 100%;
        width: 400px;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        padding: 25px;

        &--wrapper {
            display: flex;
            flex-flow: column nowrap;

            width: 100%;
            height: 100%;
            border-radius: 5px;

            box-shadow: $box-shadow;

            position: relative;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);    
        }

        &--bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0.5;
            border-radius: 5px;
        }
    }


    &__swiper {
        display: none;
        padding-top: 25px;

        .swiper {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include breakpointDown($bp-mobile-lg) {
            display: block;
        }
    }

    &__categories {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;
        padding-bottom: 25px;

        @include breakpointDown($bp-mobile-lg) {
            row-gap: 0;
            padding: 0 10px 10px 10px !important;
        }
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
        min-width: 250px;
        cursor: pointer;

        @include breakpointDown($bp-mobile-lg) {
            width: 100%;
        }

        h3 {
            color: $c-white !important;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 0;
            font-size: 14px !important
        }

        &--icon {
            height: 45px;
            width: 45px;
            background: $c-lepineBrownLight;
            transition: 0.2s background;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpointDown($bp-mobile-lg) {
                height: 35px;
                width: 35px;
            }

            svg {
                height: 50%;
                width: 50%;

                path {
                    fill: $c-white;
                    object-fit: contain;
                    object-position: center;
                    transition: 0.2s fill;
                }
            }
        }

        &.active {
            .propertyMapV3__btn--icon {
                background: $c-white;
                transition: 0.2s background;

                path {
                    fill: $c-lepineBrown;
                    transition: 0.2s fill;
                }
            }

            p {
                color: $c-white;
            }
        }
    }

    &__card {
        display: flex;
        flex-flow: column nowrap;

        &[data-card="desktop"] {
            height: 180px;
            width: 200px;    
        }

        &[data-card="mobile"] {
            width: 290px;
            height: 270px;           
        }

        h3 {
            // text-transform: uppercase;
            color: $c-white !important;
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 0;
        }

        p {
            // text-transform: uppercase;
            color: $c-white;
            font-size: 12px;
            line-height: 12px;
        }

        &--header {
            background: $c-lepineBrown;
            color: $c-white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px;
            height: 40px;
            border-radius: 5px 5px  0 0;
        }

        &--image {
            width: 100%;

            &[data-card="desktop"] {
                height: 100px;
            }

            &[data-card="mobile"] {
                height: 180px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    
        &--etas {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background: $c-lepineBrown;
            column-gap: 15px;
            padding: 10px 0;
            height: 40px;
            border-radius: 0 0 5px 5px;
        }
    
        &--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

            height: 25px;
            width: 25px;

            background: $c-white;
            border: 2px solid $c-lepineBrown;
            border-radius: 50%;
    
            path {
                fill: $c-lepineBrown;
                height: 80%;
                width: 80%;
                object-fit: contain;
                object-position: center;
            }
        }
    
        &--time {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            margin-top: -22.5px;
        }
    }
}