.featuredListingsV3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: max-content;
    background: #5E514D;
    width: 100%;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0.1;
    }

    .featuredListingsCardV3 {            
        @include breakpointDown($bp-tablet-lg) {
            width: 330px;
            height: 350px;
        }
    }

    &__noResults {
        grid-column: span 4;
        text-align: center;
        padding: 50px 0;
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1500px;
        // min-height: 1400px;
        width: 100%;
    }

    &__registerForm {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        background: $c-white;
        width: 740px;
        max-width: 95vw;
        box-shadow: $box-shadow;

        &--header {
            background: #8C857B;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 25px 75px;
            margin-bottom: 25px;

            @include breakpointDown($bp-tablet-sm) {
                padding: 25px;
            }

            h2, h3 {
                color: $c-white;
            }
        }

        &--content {
            padding: 50px 75px;

            @include breakpointDown($bp-tablet-sm) {
                padding: 25px;
            }
        }

        &--moveInDate {
            font-family: $f-futura;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 15px;
            font-size: 16px;
        }

        &--hubspot {
            margin: 25px 0;
            @include hubspotForm();
        }

        &--disclaimer {
            font-family: $f-openSans;
            font-size: 12px;
            line-height: 16px;
        }

        &--wrapper {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(178, 172, 170, 0.75);
            backdrop-filter: blur(5px);
            z-index: 3;
    
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 50px;

            @include breakpointDown($bp-tablet-sm) {
                padding: 25px;  
            }
        }

    }

    @include breakpointDown($bp-tablet-lg) {
        align-items: unset;
    }

    &__desktop {
        display: flex;
        padding: 100px 30px;
        width: 100%;
        position: relative;
        height: max-content;
        z-index: 2;
        // background: #5E514D;

        .contentWrapper {
            padding: 0 !important;
        }

        @include breakpointDown($bp-tablet-lg) {
            display: none;  
        }
    }

    &__header {
        text-align: center;
        color: $c-white;
        text-shadow: $box-shadow;
        // margin-bottom: 25px !important;
    }

    &__subtitle {
        color: $c-white !important;
        text-align: center;
        margin-bottom: 0px !important;
        text-shadow: $box-shadow;
    }

    &__contact {
        margin-top: 50px;
        text-shadow: $box-shadow;
        color: $c-white !important;
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        z-index: 2;
        position: relative;
        row-gap: 25px;

        @include breakpointDown($bp-tablet-lg) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &__filter {
        color: $c-white;
    }

    &__menu {
        display: none;

        &.active {
            display: block;
        }
    }

    &__media {
        height: 500px;
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        box-shadow: $box-shadow;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        &--image {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: opacity 0.5s ease-in-out;

            opacity: 0;

            &[data-active="true"] {
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }

            img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: cover;
                user-select: none;
            }
        }
    }

    &__link {
        z-index: 2;
        box-sizing: border-box;
        box-shadow: $box-shadow;

        text-align: start;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        &--mobileContainer {
            padding: 25px;

            display: none;
            justify-content: center;
            align-items: center;

            
            @include breakpointDown($bp-tablet-lg) {
                display: flex;  
            }
        }

        &[data-screen="desktop"] {
            border-radius: 5px 0 0 5px;

            width: 275px;
            height: 450px;    

            .featuredListingsV3__link--image img {
                border-radius: 5px 0 0 0;
            }

            .featuredListingsV3__link--copy {
                padding: 10px 25px;
                height: 250px;
            }

            .featuredListingsV3__link--footer {
                border-radius: 0 0 0 5px;

                @include breakpointDown($bp-mobile-lg) {
                    border-radius: 5px;
                }
            }

            @include breakpointDown($bp-tablet-lg) {
                display: none;  
            }
        }

        &[data-screen="mobile"] {
            display: none;
            border-radius: 5px;
            align-items: unset;

            .featuredListingsV3__link--content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }

            .featuredListingsV3__link--copy {
                flex: 1;
                padding: 10px 25px;

                @include breakpointDown($bp-mobile-lg) {
                    padding: 25px;
                }
            }

            .featuredListingsV3__link--footer {
                border-radius: 0 0 5px 0;

                @include breakpointDown($bp-mobile-lg) {
                    border-radius: 0 0 5px 5px;
                }
            }

            .featuredListingsV3__link--image img {
                border-radius: 5px 0 0 5px;

                @include breakpointDown($bp-mobile-lg) {
                    border-radius: 5px 5px 0 0 ;
                }
            }

            @include breakpointDown($bp-tablet-lg) {
                display: flex;
                flex-flow: row nowrap;

                width: unset;
                height: unset;
            }

            @include breakpointDown($bp-mobile-lg) {
                flex-flow: column nowrap;
            }
        }

        &--header {
            text-transform: uppercase;
        }

        &--copy {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
    
            color: $c-white;
        }

        &--image {
            height: 150px;
            width: 100%;
            
            @include breakpointDown($bp-tablet-lg) {
                width: 200px;
                height: 200px;  
            }

            @include breakpointDown($bp-mobile-lg) {
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: cover;
            }
        }

        &--footer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 100%;
            color: $c-white;
        }
    }


    &__cards {
        height: max-content;
        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 5px;

        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        width: 100%;
        border-radius: 5px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;


        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar {
            width: 20px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: $c-lepineDarkGrey2;
            border: 5px solid transparent;
            border-radius: 10px;
        }

        @include breakpointDown($bp-desktop-sm) {
            overflow-y: none;
        }

        .contentWrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 10px;
            padding: 0;
            row-gap: 25px;
        }
    }

    &__options {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        row-gap: 20px;
        padding: 0 0 0 40px;
        background: $c-lepineBrownLight;
        height: 150px;

        @include breakpointDown($bp-tablet-lg) {
            display: none;
        }
    }

    &__dropdown {
        &--container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            flex: 1;
            column-gap: 20px;
            row-gap: 20px;
        }

        color: $c-lepineDarkGrey1;
        flex: 1 0 23%;

        select {
            padding-left: 15px;
            height: 60px;
            width: 100%;
        }
    }

    &__checkbox {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 0 140px;
        column-gap: 10px;
        position: relative;
        color: $c-white;

        input {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 100%;
            z-index: 2;
            opacity: 0;
        }

        &--container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 350px;
            row-gap: 10px;
        }

        &--icon {
            height: 20px;
            width: 20px;

            border: 1px solid $c-white;
            border-radius: 50%;
            transition: background-color 0.25s;

            &.active {
                background-image: url('../../../assets/svg/checkmark.svg');
                background-color: #ffffff90;
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
                transition: background-color 0.25s;
            }
        }

        span {
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Jost', sans-serif;
            font-size: 16px;
            line-height: 26px;    
        
            @include breakpointDown($bp-mobile-lg) {
                font-size: 14px;
                line-height: 20px;    
            }
        }
    }

    &__reset {
        width: 200px;
        height: 100% !important;
        background: $c-lepineBrown;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $c-white;
        box-sizing: border-box;
        transition: background 0.2s;
        user-select: none;

        @include breakpointDown($bp-tablet-lg) {
            width: 150px;
            height: 100%;
        }

        h3 {
            letter-spacing: 1.5px;
            text-transform: uppercase;
            text-decoration: underline;
            color: $c-white !important;
            margin: 0;
            font-size: 18px; 
        }
    }

    &__mobile {
        display: none;
        // background: $c-white;
        box-sizing: border-box;
        z-index: 2;
        // background: #5E514D;

        @include breakpointDown($bp-tablet-lg) {
            display: block;
            overflow-x: hidden;
        }

        .swiper {
            background: rgba(255, 255, 255, 0.5);    
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            padding: 25px;
    
        }

        &--header {
            overflow: hidden;
            h2, h3 {
                margin: 0;
            }
        }

        &--menu {
            padding: 25px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            row-gap: 25px;

            h3 {
                margin: 0;
                color: $c-white !important;
            }

            &-wrapper {
                border: 2px solid $c-white;
                width: 100%;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 25px;
                text-align: center;

                h2, h3 {
                    color: $c-white;
                    margin: 0;
                }
            }

        }
    }
}

.commercialListings {
    &__container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;

        z-index: 10;
        position: relative;
        border-radius: 5px;

        @include breakpointDown($bp-tablet-md) {
            // padding-left: 0 !important;
            // padding-right: 0 !important;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        height: min-content;
        width: 100%;
        min-height: 300px;
        backdrop-filter: blur(5px);

        background: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 5px !important;
        box-shadow: $box-shadow;

        @include breakpointDown($bp-tablet-lg) {
            border-radius: 0;
        }

        @include breakpointDown($bp-tablet-md) {
            min-height: unset;
            height: unset;
            grid-template-rows: auto auto;
            grid-template-columns: repeat(2, 1fr);    
        }
    }

    &__buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 5px;
        row-gap: 5px;

        grid-column: 1 / 7;
        grid-row: 1 / 13;
        // overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar {
            width: 20px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: darken(#F3F3F1, 10%);
            border: 7.5px solid transparent;
            border-radius: 10px;
        }

        @include breakpointDown($bp-tablet-md) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        @include breakpointDown($bp-mobile-lg) {
            max-height: 250px;
            overflow-y: scroll;
        }
    }

    &__btn {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        height: calc(500px / 4);
        flex: 1 0 23%;
        background: $c-white;
        border-radius: 5px;
        padding: 10px;
        background: #5E514D;

        border-bottom: 3.5px solid transparent;

        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);

        color: $c-white !important;

        transition: all 0.25s ease-in-out;

        @include breakpointDown($bp-tablet-md) {
            height: 100px;
        }

        @include breakpointDown($bp-mobile-lg) {
            flex: 1 0 48%;
            max-width: calc(50% - 2.5px);
        }

        &[data-group="1"] {
            background: darken(#5E514D, 2.5%);
        }

        &[data-group="2"] {
            background: darken(#5E514D, 5%);
        }

        &[data-group="3"] {
            background: darken(#5E514D, 7.5%);
        }

        &[data-group="4"] {
            background: darken(#5E514D, 10%);
        }

        &[data-group="5"] {
            background: darken(#5E514D, 12.5%);
        }

        &[data-group="leased"] {
            background: lighten(#5E514D, 35%);
            color: red;

            &:hover, &.active {
            background: lighten(#5E514D, 35%);
            }
        }

        h3, p {
            color: $c-white;
            margin: 0;
            color: $c-white !important;
            user-select: none;
        }
        

        &.active {
            background: lighten(#5E514D, 35%);
            transition: all 0.25s ease-in-out;
            border-bottom: 3px solid $c-white;
            cursor: pointer;
        }

        &:hover { 
            background: lighten(#5E514D, 25%);
            cursor: pointer;
            transform: translateY(-1px);
            transition: all 0.25s ease-in-out;
        }

        &:active {
            transform: translateY(2px);
            transition: all 0.25s ease-in-out;
        }
    }

    &__floorplan {
        grid-column: 7 / 13;
        grid-row: 1 / 13;
        background: $c-white;
        display: flex;
        flex-flow: row nowrap;
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
        // padding: 10px;

        @include breakpointDown($bp-tablet-md) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            max-height: 400px;
        }
        
        &--item {
            display: none;
            flex: 1;
            box-sizing: border-box;

            @include breakpointDown($bp-mobile-lg) {
                flex-flow: column nowrap;
            }

            img {
                width: 90%;
                height: 90%;
                max-height: 475px;
                object-position: center;
                object-fit: contain;

                @include breakpointDown($bp-tablet-md) {
                    max-height: unset;
                }
            }

            &.active {
                display: flex;

                img, p, h3 {
                    animation: FadeCard 0.5s ease-in-out;
                }
            }
        }

        &--image {
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding: 10px;

            @include breakpointDown($bp-mobile-lg) {
                flex: 1 0 200px;
                max-height: 250px;
            }
        }

        &--info {
            padding: 25px;
            width: max-content;
            min-width: 165px;
            background: #e2dede;            

            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;

            box-shadow: -5px 3px 10px rgba(0,0,0,0.1);

            @include breakpointDown($bp-mobile-lg) {
                min-width: unset;
                width: 100%;
                padding: 10px;
                flex-flow: row nowrap;
                align-items: center;
            }

            h3, p {
                margin: 0;
            }

            h3 {
                color: #5E514D !important;
            }
        }
    }
}

@keyframes FadeCard {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}