@keyframes listingCardFadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.featuredListingsCardV3 {
    display: flex;
    flex-flow: column nowrap;
    @include listingCardTypography();
    width: 100%;
    background: $c-white;
    color: #9b9b9b;
    user-select: none;
    opacity: 1;
    border-radius: 5px;
    box-shadow: $box-shadow;

    &__header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 10px 0 10px;
        flex: 1;
        border-radius: 5px 5px 0 0;
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 25px;
        width: 100%;
        color: $c-lepineBrown;
    }

    &__favourite {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    &__sqft {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 10px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        height: 205px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }


    &__utility {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        column-gap: 10px;
        position: relative;
    }

    &__footer {
        background: $c-lepineBrown;
        color: $c-white;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        height: 50px;
        transition: background 0.25s;
        cursor: pointer;
        border-radius: 0 0 5px 5px;
    }
}

.featuredListingsV3 {
    .featuredListingsCardV3 {
        @include breakpointDown($bp-tablet-lg) {
            // width: 315px;
            height: 380px;
        }
    }
}

.listingPopup {
    width: 1350px;
    height: 90vh;
    max-height: 880px;
    max-width: 85vw;
    border-radius: 8px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;

    &__form {
        &--container {
            display: flex;
            flex-flow: column nowrap;
            column-gap: 25px;
            padding: 10px;
            width: 100%;             
        }

        &--content {
            @include hubspotPopupForm();
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        .btn {
            box-shadow: $box-shadow;
        }

        @include breakpointDown($bp-tablet-md) {
            grid-column: 1 / 3;
        }

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 1 / 3;
            grid-row: 3 / 4;  
         }
    }

    &__pdf {
        @include breakpointDown($bp-mobile-md) {
            display: none;
         }
    }

    &__info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background: #5E514D;
        border-radius: 10px;

        @include breakpointDown($bp-tablet-sm) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;  
         }

        &--content {
            h3 { color: $c-white; margin: 0; } 

            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 50px;
            column-gap: 25px;
            color: $c-white;
            border-radius: 10px;
            padding: 15px;

            flex: 1;

            box-shadow: $box-shadow;

            @include breakpointDown($bp-tablet-sm) {
                flex-flow: row nowrap;
                justify-content: space-between;
                row-gap: 15px;
            }
        }

        &--group {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            
            row-gap: 5px;

            @include breakpointDown($bp-tablet-sm) {
                flex: 1 0 48%;
            }

            ul {
                display: flex;
                flex-flow: column nowrap;
                padding-left: 20px;

                @include breakpointDown($bp-tablet-sm) {
                    flex-flow: row wrap;
                }

                li {
                    @include breakpointDown($bp-tablet-sm) {
                        flex: 1 0 48%;
                    }
                }
            }

            &[data-group="attributes"] {
                @include breakpointDown($bp-mobile-md) {
                    display: none;
                }
            }
        }

        &--location {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
        }

        @include breakpointDown($bp-tablet-md) {
            grid-row: 1 / 2;
        }
    }

    &__screen {
        display: none;
        height: 100%;
        width: 100%;
        padding: 10px;

        &[data-screen="floorplan"] {
            grid-template-columns: 300px auto;
            grid-template-rows: auto 60px;
            column-gap: 10px;
            row-gap: 10px;
            
            &.active {
                display: grid;
            }

            @include breakpointDown($bp-tablet-sm) {
                grid-template-columns: 1fr;
                grid-template-rows: max-content auto 60px;    
            }
        }

        &[data-screen="registrationForm"] {
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;    
            overflow-y: scroll;

            background: $c-white;
            border-radius: 10px;

            
            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 10px;
            }
        
            &::-webkit-scrollbar {
                width: 20px;
                background-color: transparent;
            }
        
            &::-webkit-scrollbar-thumb {
                background-clip: padding-box;
                background-color: #d2d2d2;
                border: 7.5px solid transparent;
                border-radius: 10px;
            }

            &.active {
                display: flex;
            }

            @include breakpointDown($bp-tablet-sm) {
                align-items: flex-start;
            }
        }

     
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        position: relative;
    }

    &__floorplan {
        box-sizing: border-box;

        &[data-type="commercial"] {
            grid-row: 1 / 3;

            @include breakpointDown($bp-tablet-sm) {
               grid-column: 1 / 3;
               grid-row: 2 / 4;  
            }
        }

        &--wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
    
            background: $c-white;
            border-radius: 10px;
            height: 100%;
            width: 100%;

            box-shadow: $box-shadow;
            
            @include breakpointDown($bp-tablet-sm) {
               grid-column: 1 / 3;
               grid-row: 2 / 3;  
            }
            
            img {
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__keyplan {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 215px;
        height: 156px;
        align-self: flex-end;

        @include breakpointDown($bp-tablet-md) {
            display: none;
        }
    }

    &__menu {
        position: absolute;
        top: -15px;
        right: -15px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;
        row-gap: 10px;

        box-shadow: $box-shadow;
        border-radius: 50%;
        
        @include breakpointDown($bp-mobile-lg) {
            top: -20px;
            right: -20px;    
        }
    }

    &__buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;
        row-gap: 10px;
        width: 100%;
        max-width: 215px;

        @include breakpointDown($bp-tablet-md) {
            position: absolute;
            top: 210px;
            right: 15px;
        }
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 15px;
        background: #1C87A1;
        color: $c-white;
        height: 60px;
        width: 100%;
        border-radius: 5px;
        padding: 5px 15px;
        @include listingCardTypography();
    }

    &__close {
        height: 50px;
        width: 50px;

        cursor: pointer;

        background: $c-lepineBrown;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpointDown($bp-mobile-lg) {
            top: 10px;
            right: 10px;

            height: 35px;
            width: 35px;

            position: absolute;
        }

        img {
            height: 25px;
            width: 25px;

            @include breakpointDown($bp-tablet-md) {    
                height: 15px;
                width: 15px;
            }
        }
    }

}