.newsroomV3 {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    column-gap: 30px;
    row-gap: 30px;

    .swiper {
        overflow: hidden;

        @include breakpointUp($bp-tablet-md) {
            padding: 0 7.5px;
        }
    }

    &__swiper {
        .swiper-slide {
            padding-right: 25px;

            a { width: 100% }
            
            width: calc(25% + 4px) !important;
    
            @include breakpointDown($bp-desktop-sm) {
                width: calc(33.333333% + 4px) !important;
            }
    
            @include breakpointDown($bp-tablet-md) {
                width: calc(50% + 4px) !important;
            }
    
            @include breakpointDown($bp-mobile-md) {
                width: calc(100% + 4px) !important;
            }
        }
    }

    &__header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        row-gap: 25px;
        width: 100%;

        h2 {
            margin: 0;
        }

        p {
            text-align: start;
        }
    }
    
    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        column-gap: 25px;
        row-gap: 25px;
    }

    &__copy {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;
        text-align: end;

        @include breakpointDown($bp-tablet-md) {
            text-align: start;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__swiper {
        overflow-x: hidden;
        position: relative;

        .overlay {
            &L {
                top: 0;
                left: 0;    
                position: absolute;
                height: 100%;
                width: 10%;
                background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
                z-index: 2;
    
            }

            &R {
                top: 0;
                right: 0;    

                position: absolute;
                height: 100%;
                width: 10%;
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
                z-index: 2;
    
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
}