.imgRoundTopLeft {
    border-radius: 50px 0 0 0 !important;
}
.imgRoundTopRight {
    border-radius: 0 50px 0 0 !important;
}
.imgRoundBottomLeft {
    border-radius: 0 0 50px 0 !important;
}
.imgRoundBottomRight {
    border-radius: 0 0 0 50px !important;
}

#overview {
    background: #F3F3F1;
}

#renaissance {
    background: #E5E4E0;

    @include breakpointDown($bp-tablet-md) {
        padding-top: 0 !important;
    }
}

#herosRidge {
    @include breakpointDown($bp-tablet-md) {
        padding-top: 0 !important;
    }

    .showcaseImage img {
        object-position: top !important;
    }
}

.currentCommunitiesV2 {
    overflow: hidden;
    
    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: 75px;
        row-gap: 30px;

        @include breakpointDown($bp-tablet-lg) {
            align-items: flex-start;
            flex-flow: column nowrap;
            row-gap: 15px;
        }
    }
    
    &__marker {
        height: 225px;
        width: 250px;
        background: $c-lepineBrown;

        display: flex;
        flex-flow: column nowrap;

        @include breakpointDown($bp-tablet-sm) {
            height: 150px;
            width: 150px;
        }
        
        @include breakpointDown($bp-mobile-md) {
            display: none;
        }

        &--image {
            height: 150px;
            width: 250px;

            @include breakpointDown($bp-tablet-sm) {
                height: 125px;
                width: 150px;    
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &--link {
            height: 50px;
            width: 250px;

            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpointDown($bp-tablet-sm) {
                width: 150px;    
            }

            a {
                user-select: none;
                outline: none;
            }

            p {
                margin: 0;
                font-family: 'Jost', sans-serif;
                letter-spacing: 3px;
                color: $c-white;
                text-transform: uppercase;
                font-size: 16px;
                outline: none;

                @include breakpointDown($bp-tablet-sm) {
                    font-size: 75%;    
                }
            }
        }
    }

    &__header {
        flex: 1 0 48%;
        text-transform: uppercase;
    }

    &__copy {
        flex: 1 0 48%;
        height: 100%;

        @include breakpointUp($bp-tablet-lg) {
            text-align: end;
            align-self: flex-end;
    
            &.copyPadding {
                padding-bottom: 0;
            }
        }
    }

    &__map {
        &--wrapper {
            background: $c-lepineLightGrey2;
            position: relative;
            height: 973px !important;
    
            @include breakpointDown($bp-mobile-md) {
                height: 550px !important;
            }

            .map {
                position: absolute;
                top: 0;
                left: 0;
        
                height: 973px !important;
                width: 100%;
                z-index: 1;

                @include resetInfoWindow();
                @include infoWindowRemoveClose();
                @include infoWindowArrow($c-lepineBrown);

                @include breakpointDown($bp-mobile-md) {
                    height: 550px !important;
                    @include infoWindowArrow(transparent);
                }
        
            }

            .map__overlay {
                position: absolute;
                top: 0;
                right: 0;
        
                height: 100%;
                width: 35%;
                z-index: 2;
                background: linear-gradient(90deg, rgba(178,172,170,0) 0%, rgba(178,172,170,0.8) 40%);
            }
        }
    }

    &__swiper {
        height: 973px;
        z-index: 3;

        @include breakpointDown($bp-mobile-md) {
            height: 550px;
        }

        .swiper {
            height: 973px;
            padding-top: 25px;
            @include swiperTransparentSlides();

            @include breakpointDown($bp-mobile-md) {
                height: 550px !important;
                padding-top: 0;
            }

            &-slide {
                height: max-content;
            }
        }

        @include breakpointDown($bp-mobile-md) {
            height: 550px !important;
        }

        &--wrapper {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 60px;
            width: 100%;
            flex: 1;

            &[data-direction="row-reverse"] {
                flex-flow: row-reverse nowrap;
                height: 973px;

                @include breakpointDown($bp-mobile-md) {
                    height: 550px !important;
                }
            }

            @include breakpointDown($bp-desktop-sm) {
                column-gap: 25px;
            }

            @include breakpointDown($bp-tablet-md) {
                flex-flow: column-reverse nowrap;
            }

            @include breakpointDown($bp-mobile-lg) {
                justify-content: space-between;
            }
        }

        &--controls {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            column-gap: 10px;
            height: 973px;
            z-index: 3;

            @include breakpointDown($bp-mobile-md) {
                height: 550px !important;
            }

            .swiper__prev {
                transform: rotate(90deg);
                font-family: 'Arial', sans-serif;
            }
            .swiper__next {
                transform: rotate(90deg);
                font-family: 'Arial', sans-serif;
            }
        }
    }
}

.herosRidgePlaylist {
    @include breakpointDown($bp-tablet-md) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    &__container {
        background: #F3F3F1;
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;

    @include breakpointDown($bp-tablet-md) {
        flex-flow: column-reverse nowrap;
    }

    &__embed {
        flex: 1 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 25px;
        column-gap: 25px;
        height: max-content;
        border-radius: 5px;
        margin: unset;

        @include breakpointUp($bp-tablet-md) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        h3, p {
            margin: 0;
            user-select: none;
        }

        iframe {
            width: 100%;
            height: 400px;
            border-radius: 5px;
            user-select: none;
            box-shadow: $box-shadow;

            @include breakpointDown($bp-mobile-md) {
                height: 300px;
            }

            @include breakpointDown($bp-mobile-sm) {
                height: 200px;
            }
        }
    }

    &__swiper {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;

        @include breakpointDown($bp-tablet-md) {
            height: 175px;
            width: 100%;
        }

        .swiper-pagination-progressbar {
            bottom: 0px !important;
            top: unset !important;
            height: 5px !important;
            &-fill {background: #C8102E !important;}
        }


        .swiper-slide {
            height: 150px;
            width: 287.5px;

            @include breakpointDown($bp-tablet-md) {
                height: 175px;
                width: 300px;

                &:first-of-type {
                    margin-left: 25px;
                }

                &:last-of-type {
                    margin-right: 25px;
                }
            }
        }
    }

    &__selector {
        height: 700px;
        width: 600px;

        @include breakpointDown($bp-tablet-md) {
            height: 175px;
            width: 100%;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar {
            width: 20px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            background-color: darken(#F3F3F1, 10%);
            border: 7.5px solid transparent;
            border-radius: 10px;
        }

        &--item {    
            flex: 1 0 48%;
            height: 150px;
            width: 287.5px;
            cursor: pointer;
            border-radius: 5px;
            padding: 15px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-end;
            position: relative;

            background: #C8102E;
            transition: all 0.2s ease-in-out;

            box-shadow: $box-shadow;

            &.active {
                .herosRidgePlaylist__selector--overlay {
                    opacity: 0.4;
                    transition: all 0.35s ease-in-out;
                }
            }
    
            @include breakpointDown($bp-mobile-sm) {
                height: 150px;
                flex: 1 0 100%;
                // max-width: unset;
            }
        }

        &--overlay {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border-radius: 5px;
            opacity: 0.95;
        }

        &--gradient {
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            border-radius: 5px;
            background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);;
        }

        &--title {
            color: $c-white;
            font-family: "Jost", sans-serif;
            font-size: 18px;
            line-height: 18px;
            font-weight: 500;
            position: relative;
            z-index: 2;
            user-select: none;
            text-shadow: $box-shadow;
        }
    }
}