.fullVideoHero {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    max-height: 1000px;
    min-height: 600px;
    width: 100%;

    @include breakpointDown($bp-tablet-lg) {
       height: 600px;
       min-height: unset;
    }

    @include breakpointDown($bp-mobile-md) {
        height: 350px;
     }

     &__fade {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        z-index: 1000;
        background: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 90%);
    }

    &__logo {
        width: 80vw;
        max-width: 500px;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100% !important;
        object-position: center;
        object-fit: cover;
        z-index: 1;
        opacity: 0.75;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100% !important;
            object-position: center;
            object-fit: cover;
            z-index: 1;     
        }
    }

    &__content {
        position: relative;
        z-index: 2;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        row-gap: 25px;
        column-gap: 10px;

        h1, h2, h3, p {
            color: $c-white !important;
            margin: 0;
        }

        img {
            height: auto;

            @include breakpointDown($bp-mobile-md) {
                max-height: 100px;
            }
        }
    }

    &__copy {
        text-align: center;
        width: 80vw;
        max-width: 800px;
    }
}