.suiteFinishesV2 {
    .contentWrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        column-gap: 50px;

        @include breakpointDown($bp-tablet-md) {
            flex-flow: column nowrap;           
            padding-left: 0 !important;
            padding-right: 0 !important; 
        }
    
    }
    // @include contentPaddingBottom();


    .suitesFinishesV2__list--wrapper {
        flex: 1 0 400px;
        // @include contentPaddingBottom();
        @include swiperPaginationMargin();

        @include breakpointUp($bp-tablet-lg) {
            flex: unset;
        }
        
        @include breakpointDown($bp-tablet-md) {
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }

        ul {
            @include contentMarginBottom();
            padding-left: 0;
    
        }

        li {
            list-style-position: inside;
        }

        .contentWrapper {
            @include breakpointUp($bp-tablet-lg) {
                padding: unset;
            }
        }

    }
    

    &__gallery {
        // width: 1000px;
        max-width: 1000px;
        height: 100%;
        @include swiperPaginationMargin();
        overflow: hidden;
        border-radius: 5px;

        @include breakpointDown($bp-tablet-lg) {
            // width: 60%;
        }

        @include breakpointDown($bp-tablet-md) {
            height: 340px;
            // border-radius: 0;
        }

        @include breakpointDown($bp-tablet-md) {
            width: 100%;
        }

        @include breakpointDown($bp-mobile-sm) {
            height: 185px;
        }

        .swiper-slide {
            border-radius: 5px;

            img {
                border-radius: 5px;
            }
        }

        &--item {
            width: 1000px;
            height: 580px;

            @include breakpointDown($bp-tablet-md) {
                width: 526px;
                height: 340px;
            }

            @include breakpointDown($bp-mobile-sm) {
                width: 286px;
                height: 185px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}