@keyframes FadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.socialDashboard {
    position: relative;

    &__popup {
        position: fixed;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;
        z-index: 10;
        background: #20202080;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        animation: FadeIn 0.25s ease-in-out;
        backdrop-filter: blur(10px);

        &.fadeOut {
            animation: FadeOut 0.10s ease-in-out;
        }

        &--content {
            border-radius: 5px;
            z-index: 5;
            box-shadow: $box-shadow;
            max-height: 95vh;
            max-width: 80vw;    

            &[data-platform="instagram"] {
                height: 95vh;
                width: 375px;
                background: $c-white;

                iframe {
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    animation: FadeIn 0.25s ease-in-out;
                    max-height: 95vh;
                    max-width: 80vw;    
                }
            }

            &[data-platform="youtube"] {
                width: 80vw;
                height: 600px;

                @include breakpointDown($bp-tablet-md) {
                    height: 400px;
                }

                @include breakpointDown($bp-mobile-md) {
                    height: 300px;
                }

                iframe {
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    animation: FadeIn 0.25s ease-in-out;
                    max-height: 95vh;
                    max-width: 80vw;    
                }
            }



            &[data-platform="linkedin"] {
                iframe {
                    height: 795px;
                    width: 504px;
                    border-radius: 5px;
                    animation: FadeIn 0.25s ease-in-out;
                    max-height: 95vh;
                    max-width: 80vw;    
                }
            }
        }

        &--close {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            cursor: pointer;
            border-radius: 50%;
            padding: 10px;
            height: 35px;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 20px;
                width: 20px;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__logo {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 25px;

        h2 {
            margin: 0;
            color: #000;
        }
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    
        row-gap: 25px;
        column-gap: 25px;
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 25px;
        row-gap: 25px;
        padding: 25px 0;
    
        // @include breakpointDown($bp-desktop-sm) {
        //     grid-template-columns: repeat(3, minmax(0, 1fr));
        // }
    
        @include breakpointDown($bp-tablet-md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    
        .btn {
            grid-column: span 1;
        }
    }

    &__posts {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 25px;
        row-gap: 25px;
        grid-auto-rows: 350px;

        @include breakpointDown($bp-desktop-sm) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    
        @include breakpointDown($bp-tablet-md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    
        @include breakpointDown($bp-mobile-md) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    .btnSocial {
        &[data-platform="facebook"] {
            background: #1877F2;
            border-color: #1877F2;
            transition: background 0.2s;
            &:hover, &.active { background: darken(#1877F2, 10%); border-color: darken(#1877F2, 10%); color: $c-white; transition: background 0.2s; }
        }
        
        &[data-platform="instagram"] {
            background: #f09433; 
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
            border-color: #f09433;
            transition: background 0.2s;
            &:hover, &.active { background: darken(#f09433, 10%); border-color: darken(#f09433, 10%); color: $c-white; transition: background 0.2s; }
        }

        &[data-platform="youtube"] {
            background: #FF0000;
            border-color: #FF0000;
            transition: background 0.2s;
            &:hover, &.active { background: darken(#FF0000, 10%); border-color: darken(#FF0000, 10%); color: $c-white; transition: background 0.2s; }
        }
        
        &[data-platform="linkedin"] {
            background: #0077B5;
            border-color: #0077B5;
            transition: background 0.2s;
            &:hover, &.active { background: darken(#0077B5, 10%); border-color: darken(#0077B5, 10%); color: $c-white; transition: background 0.2s; }
        }

        &[data-platform="googlereview"] {
            background: #FBBC05;
            border-color: #FBBC05;
            transition: background 0.2s;
            &:hover, &.active { background: darken(#FBBC05, 10%); border-color: darken(#FBBC05, 10%); color: $c-white; transition: background 0.2s; }
        }
    }

    &__item {
        background: $c-white;
        box-shadow: $box-shadow;
        grid-column: span 1;
        cursor: pointer;
        user-select: none;
        border-radius: 5px;

        p {
            font-size: 14px;
            line-height: 20px;
        }

        border-radius: 5px;
        position: relative;

        &--embed {
            position: absolute;
            z-index: 1;
            overflow: hidden;
            width: 100%;
            height: 100%;

            &Overlay {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
            }

            iframe {
                width: 105%;
                height: 105%;
                overflow-y: hidden;
            }
        }

        &[data-platform="youtube"] {
            .socialDashboard__item--description {
                display: none;
                opacity: 0;
                transition: opacity 0.25s ease-in-out;
            }
            
            &:active, &:focus, &:hover {
                .socialDashboard__item--title {
                    display: none;
                }
                .socialDashboard__item--description {
                    display: flex;
                    opacity: 1;    
                    transition: opacity 0.25s ease-in-out;
                }
            }
        }

        
        &[data-platform="facebook"] {
            .socialDashboard__item--content {
                overflow-y: scroll;
                overflow-x: hidden;

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                    border-radius: 10px;
                }
            
                &::-webkit-scrollbar {
                    width: 20px;
                    background-color: transparent;
                }
            
                &::-webkit-scrollbar-thumb {
                    background-clip: padding-box;
                    background-color: #d2d2d2;
                    border: 7.5px solid transparent;
                    border-radius: 10px;
                }
            }
        }

        &[data-platform="googlereview"] {
            .socialDashboard__item--content {
                display: flex;
                opacity: 1;
                overflow-y: scroll;
                background: $c-white;

                h4 {
                    color: #007bff !important;
                    margin: 0;
                    font-family: "Jost SemiBold", "Jost", sans-serif;
                }
                
                p {
                    color: #000 !important;
                }

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                    border-radius: 10px;
                }
            
                &::-webkit-scrollbar {
                    width: 20px;
                    background-color: transparent;
                }
            
                &::-webkit-scrollbar-thumb {
                    background-clip: padding-box;
                    background-color: #d2d2d2;
                    border: 7.5px solid transparent;
                    border-radius: 10px;
                }

                h4, p {
                    color: $c-white;
                    margin: 0;
                }
            }
        }




        &:active, &:focus, &:hover {
            .socialDashboard__item--content {
                opacity: 1;
                transition: opacity 0.25s ease-in-out;
            }

            .socialDashboard__item--footer {
                height: 100%;
                border-radius: 5px;
                transition: height 0.25s ease-in-out;
            }

            // .socialDashboard__item--info {
            //     opacity: 0;
            //     transition: opacity 0.25s ease-in-out;
            // }
        }

        &--content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            padding: 25px;
            column-gap: 10px;
            row-gap: 10px;
            width: 100%;
            z-index: 5;
            position: relative;

            opacity: 0;
            background: #007bff95;
            backdrop-filter: blur(10px);

            border-radius: 5px;
            height: 100%;
            transition: opacity 0.25s ease-in-out;

            p {
                color: $c-white;
            }
        }
    
        &--description {
            overflow: hidden;
            z-index: 5;
        }

        &--title {
            margin: 0;
        }

        &--footer {
            background: #007bff95;
            backdrop-filter: blur(10px);
            margin-top: auto;
            border-radius: 0 0 5px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 33.3%;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px 25px;
            transition: all 0.25s ease-in-out;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            row-gap: 25px;

            h3 {
                font-size: 16px;
                line-height: 20px;
                color: $c-white;
                text-align: center
            }

            p {
                color: $c-white;
            }
        }

        &--info {
            margin-top: auto;    
            p { margin: 0 }
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            border-radius: 0 0 0 5px;
            height: 37.5px;
            width: 100px;

            display: flex;
            justify-content: center;
            align-items: center;

            background: #007bff95;
            backdrop-filter: blur(10px);

            opacity: 1;
            transition: opacity 0.25s ease-in-out;

            p {
                color: $c-white;
            }
        }
        
        &--date {
            font-weight: 700;
            z-index: 50;
        }
    }

}